<% content_for :meta_description, "Interviste, video, rubriche e approfondimenti legati alla cultura del progetto." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, Coronavirus, Covid-19, Welcome to the Post-Analog Condition" %>
<%# content_for :meta_image, "HomingCdD.jpg" %>
<div class="wpac_index dark">
  <header id="top" class="page-header-container wpac">
    <%= render "shared/back-btn" %>
    <div class="w-container large">
      <%= link_to wpac_path, class: "breadcrumb-text" do %>
        <p><%= @wpac.title %></p>
      <% end %>
      <h1 class="page-header-title"><%= @media %></h1>
      <div class="article_thumb_media">
        <%= image_tag "#{@media}.svg", class: "thumb_icon", alt: "#{@media}" %>
      </div>
    </div>
  </header>
  <div class="articles-grid-container">
    <div class="w-container large">

        <%= render partial: "shared/thumb-grid", locals: {
          articles: @articles,
          icon: false
        } %>

    </div>
  </div>
  <%= render "shared/support-banner" %>
</div>
