<% content_for :meta_description, "Interviste, video, rubriche e approfondimenti legati alla cultura del progetto." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, Coronavirus, Covid-19, Welcome to the Post-Analog Condition" %>
<% content_for :meta_image, "HomingCdD.jpg" %>
<div class="wpac_index">
  <!-- <div class="noise_overlay"></div> -->
  <header id="top" class="page-header-container wpac">
    <div class="w-container large">
      <%= link_to wpac_path, class: "breadcrumb-text" do %>
        <p><span>
          <svg width="24" height="12" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26 8V6H4.5L8.5 2L7.5 0L0.5 7L7.5 14L8.5 12L4.5 8H26Z" fill="#E0354C"/>
          </svg>
        </span>Welcome to the Post-Analog Condition</p>
      <% end %>
      <h1 class="page-header-title"><%= @tag %></h1>
      <p class="subheader">Lorem ipsum dolor sit.</p>
    </div>
  </header>
  <div class="articles-grid-container">
    <div class="w-container large">
      <div class="articles-grid">
        <% unless @articles.empty? %>
          <% 8.times do %>
            <% @articles.each do |article| %>
              <%= link_to wpac_article_path(article), class: "article_thumb_link" do %>
              <% defaultBg = "CircoloDelDesign_1200x630.png" %>
                <div class="article_thumb_box" style="background-image: url('<%= article.cover.file.nil? ? defaultBg : (cl_image_path article.cover) %>');">
                  <div class="article_thumb_media">
                    <%= image_tag "#{article.media_type.downcase}.svg", class: "thumb_icon", alt: "#{article.media_type}" %>
                  </div>
                  <div class="article_thumb_overlay">
                    <div class="overlay_arrow">
                      <svg width="40" height="22" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.5 8V6H22L18 2L19 0L26 7L19 14L18 12L22 8H0.5Z" fill="#C10720"/>
                      </svg>
                    </div>
                  </div>
                </div>
                <h3><%= article.title %></h3>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class="nothing_found_message">
            <p>Nessun contenuto trovato.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/support-banner" %>
</div>
