<% content_for :meta_title, "#{@tagItem.nome} — WPAC — Circolo del Design" %>
<% content_for :meta_description, "Online e offline, ogni giorno progetta contenuti che sappiano ispirare e lo fa collaborando con professionisti, studenti e visionari appassionati e curiosi." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, Coronavirus, Covid-19, Welcome to the Post-Analog Condition" %>
<% content_for :meta_image, "WPAC_social_1200x628.jpg" %>
<div class="wpac_index dark">
  <header id="top" class="page-header-container wpac">
    <%= render "shared/back-btn" %>
    <div class="w-container large">
      <%= link_to wpac_path, class: "breadcrumb-text" do %>
        <p><%= @wpac.title %></p>
      <% end %>
      <h1 class="page-header-title"><%= @tagItem.nome %></h1>
      <div class="subheader"><%=raw @tagItem.abstract unless @tagItem.abstract.empty? || !@tagItem.abstract %></div>
    </div>
  </header>
  <div class="articles-grid-container">
    <div class="w-container large">
      <%= render partial: "shared/thumb-grid", locals: {
        articles: @articles,
        icon: true
      } %>
    </div>
  </div>
  <%= render "shared/support-banner" %>
</div>
