<% content_for :meta_title, "#{@blog_post.title} — " %>
<% content_for :meta_description, "#{@blog_post.subtitle}" %>
<% content_for :meta_keywords, "#{@blog_post.keywords unless @blog_post.keywords.empty?} " %>
<% content_for :meta_image, "#{@blog_post.cover}" %>

<header id="top" class="page-header-container blog">
  <div class="w-container large">
    <div class="breadcrumb-text"><%= link_to "Home", root_path %> / What's On / <%= link_to "#HomingCdD", whats_on_HomingCdD_path %></div>
    <h1 class="page-header-title"><%= @blog_post.title %></h1>
    <div class="page-header-subtitle"><%= @blog_post.subtitle if @blog_post.subtitle %></div>
  </div>
</header>
<div >
</div>
<main class="page-postheader blog">
  <div class="calendar-main-container w-container">
    <article class="blog">
      <div class="social_share_container">
        <div class="social_share_group sticky">
          <a id="facebook" href="#">
            <%= image_tag "icon_facebook.svg", alt: "alttext" %>
          </a>
          <a id="twitter" href="#">
            <%= image_tag "icon_twitter.svg", alt: "alttext" %>
          </a>
          <a id="whatsapp" href="#">
            <%= image_tag "icon_whatsapp.svg", alt: "alttext" %>
          </a>
          <a id="clipboard" href="#">
            <%= image_tag "icon_link.svg", alt: "alttext" %>
          </a>
        </div>
      </div>
      <% unless @blog_post.content.empty? || @blog_post.content == "<p><br></p>" %>
        <%=raw @blog_post.content %>
      <% end %>
      <% unless @blog_post.content.empty? || @blog_post.content == "<p><br></p>" && !@blog_post_videos.empty? %>
        <div class="m-bottom-50"></div>
      <% end %>
      <% unless @blog_post_videos.empty? %>
        <div class="blog_post_videos_container">
          <% @blog_post_videos.each do |post_video| %>
            <div style="padding:56.25% 0 0 0;position:relative;" class="blog_post_video">
              <iframe src="https://player.vimeo.com/video/<%= post_video.vimeo_id %>?title=0&byline=0&portrait=0" class="video-full-w" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
              </iframe>
            </div>
            <p class="post_video-description"><%= post_video.description unless post_video.description.empty? %></p>
          <% end %>
          <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
      <% end %>
      <% unless @blog_post_images.empty? %>
        <div class="post_images_container">
          <% @blog_post_images.each do |post_img| %>
            <figure class="blog_img <%= post_img.width unless post_img.width.empty? %>">
              <%= cl_image_tag(post_img.image) %>
              <figcaption><%= post_img.description unless post_img.description.empty? %></figcaption>
            </figure>
          <% end %>
        </div>
      <% end %>
    </article>
    <% unless @suggested_posts.empty? %>
      <aside>
        <h2>Altro in #HomingCdD</h2>
        <% @suggested_posts.each do |post| %>
          <%= link_to blog_post_path(post), class: "event-card-container" do %>
            <div class="event-card-category-label">Rubrica</div>
            <div class="event-card-img-container" style="background-image: url('<%= cl_image_path post.cover if post.cover %>');">
            </div>
            <div class="event-card-content-container">
              <h3 class="event-card-title"><%= post.title.truncate(100) %></h3>
              <p class="event-card-subtitle"><%= post.subtitle.truncate(140) %></p>
            </div>
          <% end %>
        <% end %>
      </aside>
    <% end %>
  </div>
</main>
