<%= form_for @contact, url: contatti_path do |f| %>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div>
      <%= f.label :nome %>
      <%= f.text_field  :nome, required: true, remote: true, class: "contact-form-text-area", placeholder: "Nome" %></br>

      <%= f.label :email %>
      <%= f.text_field :email, required: true, class: "contact-form-text-area", placeholder: "Email" %></br>

    <%= f.label :messaggio %>
    <%= f.text_area :messaggio, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                      placeholder: "Scrivi un messaggio"%>

    <div class= "hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="form-checkbox-terms">
      <input type="checkbox" required name="terms"> <span>Dichiaro di aver letto e accettato l'<%= link_to "informativa sulla privacy", privacy_cookie_policy_path %>.</span></br>
    </div>

    <%= f.submit 'Invia Messaggio', class: 'submit-button w-button btn-wide' %>
  </div>
<% end %>

