<footer class="section-a-6-footer">
    <div>
      <div class="footer-top w-clearfix">
        <div class="footer-cdd-heading">
          <%= link_to root_path do  %>
            <%= image_tag "LOGO_CdD_white.svg", alt: "Circolo del Design logo", class: "logo-footer" %>
          <% end %>
          <div class="footer-cdd-info">© <%= Time.new.year %> Circolo Del Design Torino<br>All Rights Reserved</div>
          <a href="mailto:info@circolodeldesign.it?subject=Email%20da%20sito" target="_blank" class="footer-info-mail">info@circolodeldesign.it</a>
          <a href="tel:+393314321195" class="footer-info-mail">+39 331 432 1195</a>
          <a href="https://www.facebook.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Facebook</a>
          <a href="https://www.instagram.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Instagram</a>
          <a href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="footer-cdd-info-social">Linkedin</a>
          <a href="https://www.youtube.com/channel/UCBYouoahfNG1qy-g4GIBQYg" target="_blank" class="footer-cdd-info-social last">YouTube</a>
        </div>
        <nav class="w-layout-grid footer-sitemap-grid">
          <div class="footer-sitemap-block">
            <div data-w-id="4b5a7398-b1e9-d485-4fb6-16d03f677dac" class="footer-sitemap-list-title-no-hover">About Us</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Il Circolo", about_us_il_circolo_path, class: "footer-sitemap-list-item", alt: "Il Circolo del Design alimenta e diffonde la cultura del progetto." %>
              <%= link_to "Team", about_us_team_path, class: "footer-sitemap-list-item", alt: "Il team del Circolo del Design." %>
              <%= link_to "Sostenitori", about_us_sostenitori_path, class: "footer-sitemap-list-item", alt: "Scopri chi ci sostiene." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="fa246212-cee5-efd1-2237-f330bc55c245" class="footer-sitemap-list-title-no-hover">Programma Culturale</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Calendario", whats_on_programma_path, class: "footer-sitemap-list-item", alt: "Scopri tutti gli eventi del Circolo del Design." %>
              <%= link_to "Tutti i Progetti Culturali", cultural_projects_path, class: "footer-sitemap-list-item", alt: "Scopri tutti gli progetti culturali del Circolo del Design." %>
              <% unless CulturalProject.where("published = true AND show_in_nav = true").empty? %>
                <% CulturalProject.where("published = true AND show_in_nav = true").limit(5).order(start_date: :desc).each do |cultural_project| %>
                  <%= link_to cultural_project.title, cultural_project_path(cultural_project), class: "footer-sitemap-list-item", alt: cultural_project.title %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="029f16f5-d0c9-3d36-9620-7667132adcf7" class="footer-sitemap-list-title-no-hover">Progetti d'Impatto</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Tutti i progetti", progetti_speciali_path, class: "footer-sitemap-list-item", alt: "Al fianco della programmazione, il Circolo del Design lavora per lo sviluppo di Progetti d'impatto con l’ambizione di incidere concretamente su ambiti specifici." %>
              <% unless SpecialProject.where("published = true AND show_in_nav = true").empty? %>
                <% SpecialProject.where("published = true AND show_in_nav = true").limit(5).order(year: :desc).each do |special_project| %>
                  <%= link_to special_project.title, special_project_path(special_project), class: "footer-sitemap-list-item", alt: special_project.title %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="c5c01c71-4db2-1d45-e766-41bcb549dfaa" class="footer-sitemap-list-title-no-hover">Servizi</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Become a Member", membership_path, class: "footer-sitemap-list-item", alt: "Diventa socio del Circolo del Design di Torino." %>
              <%= link_to "Spazi", servizi_spazi_path, class: "footer-sitemap-list-item", alt: "Il Circolo del Design dà la possibilità di affittare alcuni dei suoi spazi per eventi dedicati ad un pubblico specifico ristretto e per eventi aperti al pubblico." %>
              <%= link_to "Biblioteca", servizi_biblioteca_path, class: "footer-sitemap-list-item", alt: "La Biblioteca del Circolo sostiene la ricerca e la creatività di professionisti e studenti del settore e fornisce occasioni di approfondimento a curiosi e appassionati." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <%= link_to contatti_path, class: "footer-sitemap-list-title", alt: "Il Circolo del Design è aperto al dialogo, contattaci." do %>
              Contatti
            <% end %>
          </div>
        </nav>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <div class="footer-orari-container">
          <strong class="uppercase">Orari di apertura</strong><br>
          Da Lunedì a Venerdì / 14 – 19
        </div>
      </div>
    </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <%= link_to "https://www.compagniadisanpaolo.it/", target: "_blank", class: "w-inline-block" do %>
        <p>Main Partner</p>
        <%= image_tag "1_Copagnia-san-paolo-logo-cdd-white.png", alt: "Compagnia San Paolo", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.to.camcom.it/", target: "_blank", class: "w-inline-block" do %>
        <%# <p>Partner</p> %>
        <%= image_tag "2_camera-di-commercio-torino-logo-cdd-white.png", alt: "Camera di Commercio Industria Artigianato e agricoltura di Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "http://www.comune.torino.it/", target: "_blank", class: "w-inline-block" do %>
        <p>Con il contributo di</p>
        <%= image_tag "partner/CittaDiTorino-white.png", alt: "Città di Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.ui.torino.it/", target: "_blank", class: "w-inline-block" do %>
        <p></p>
        <%= image_tag "UnioneIndustriale-CdD-white.png", alt: "Unione Industriale Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.cna.it/", target: "_blank", class: "w-inline-block" do %>
        <p></p>
        <%= image_tag "CNA-cdd-white.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "footer-sostenitore-img" %>
        <% end %>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <div>
        <p>Sponsor</p>
        <%= link_to "https://www.gruppoiren.it/", target: "_blank", class: "w-inline-block" do %>
          <%= image_tag "partner/iren_bianco.png", alt: "Iren", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.realemutua.it/", target: "_blank", class: "w-inline-block" do %>
          <%= image_tag "partner/Marchio-Reale-Mutua-BIANCO.png", alt: "Reale-Mutua", class: "footer-sostenitore-img" %>
        <% end %>
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-bottom">
        <div class="footer-bottom-center">
          <a href="#top" class="footer-bottom-item">Back to top</a>
        </div>
        <div class="footer-bottom-right">
          <%= link_to 'Operazione Trasparenza', asset_path("TDW-2019_operazione_trasparenza-DL_4_AGOSTO_2017-N_124.pdf"), target: "_blank", class: "footer-bottom-item footer-link-spacing" %>
          <%= link_to 'Privacy & Cookie Policy', privacy_cookie_policy_path, class: "footer-bottom-item footer-link-spacing" %>
        </div>
      </div>
    </div>
  </footer>
