<footer class="section-a-6-footer">
    <div>
      <div class="footer-top w-clearfix">
        <div class="footer-cdd-heading">
          <%= link_to root_path do  %>
            <%= image_tag "LOGO_CdD_white.svg", alt: "Circolo del Design logo", class: "logo-footer" %>
          <% end %>
          <div class="footer-cdd-info">© <%= Time.new.year %> Circolo Del Design Torino<br>All Rights Reserved</div>
          <a href="mailto:<%= @global_settings.main_email.gsub(/\s+/, "") %>?subject=Email%20da%20sito" target="_blank" class="footer-info-mail"><%= @global_settings.main_email %></a>
          <a href="tel:<%= @global_settings.main_tel.gsub(/\s+/, "") %>" target="_blank" class="footer-info-mail"><%= @global_settings.main_tel %></a>
          <a href="https://www.facebook.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Facebook</a>
          <a href="https://www.instagram.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Instagram</a>
          <a href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="footer-cdd-info-social">Linkedin</a>
          <a href="https://www.youtube.com/channel/UCBYouoahfNG1qy-g4GIBQYg" target="_blank" class="footer-cdd-info-social">YouTube</a>
          <a href="https://open.spotify.com/show/6YrSVNM0bfnRyRNEhOzwuI?si=M7xnyPzMTVqgZIUwP1z8jA&dl_branch=1" target="_blank" class="footer-cdd-info-social last">Spotify</a>
        </div>
        <nav class="w-layout-grid footer-sitemap-grid">
          <div class="footer-sitemap-block">
            <div data-w-id="4b5a7398-b1e9-d485-4fb6-16d03f677dac" class="footer-sitemap-list-title-no-hover">About Us</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Il Circolo", about_us_il_circolo_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Team", about_us_team_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Young Board 2021", about_us_young_board_2021_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Sostenitori", about_us_sostenitori_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Newsletter", about_us_newsletter_path, class: "footer-sitemap-list-item" %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="fa246212-cee5-efd1-2237-f330bc55c245" class="footer-sitemap-list-title-no-hover">Programma Culturale</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Calendario", whats_on_programma_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Tutti i Progetti Culturali", cultural_projects_path, class: "footer-sitemap-list-item" %>
              <% unless CulturalProject.where("published = true AND show_in_nav = true").empty? %>
                <% CulturalProject.where("published = true AND show_in_nav = true").limit(5).order(start_date: :desc).each do |cultural_project| %>
                  <%= link_to cultural_project.title, cultural_project_path(cultural_project), class: "footer-sitemap-list-item" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="029f16f5-d0c9-3d36-9620-7667132adcf7" class="footer-sitemap-list-title-no-hover">Progetti d'Impatto</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Tutti i progetti", progetti_speciali_path, class: "footer-sitemap-list-item" %>
              <% unless SpecialProject.where("published = true AND show_in_nav = true").empty? %>
                <% SpecialProject.where("published = true AND show_in_nav = true").limit(5).order(year: :desc).each do |special_project| %>
                  <%= link_to special_project.title, special_project_path(special_project), class: "footer-sitemap-list-item" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="c5c01c71-4db2-1d45-e766-41bcb549dfaa" class="footer-sitemap-list-title-no-hover">Servizi</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Become a Member", membership_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Affitta gli spazi", servizi_spazi_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Biblioteca del Design", servizi_biblioteca_path, class: "footer-sitemap-list-item" %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <%= link_to contatti_path, class: "footer-sitemap-list-title" do %>
              Contatti
            <% end %>
          </div>
        </nav>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <div class="footer-orari-container">
          <strong class="uppercase">Orari di apertura</strong><br>
          Da Lunedì a Venerdì / 14 – 19
        </div>
      </div>
    </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <%= link_to "https://www.to.camcom.it/", target: "_blank", class: "w-inline-block" do %>
          <p>Il circolo del design è sostenuto da</p>
          <%= image_tag "2_camera-di-commercio-torino-logo-cdd-white.png", alt: "Camera di Commercio Industria Artigianato e agricoltura di Torino", class: "footer-sostenitore-img" %>
        <% end %>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-partners-container">
        <p class="footer-label">Principali sostenitori dei progetti</p>
        <div class="footer-partners-grid">
          <%= link_to "https://www.compagniadisanpaolo.it/it/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "1_Copagnia-san-paolo-logo-cdd-white.png", alt: "Fondazione Compagnia di San Paolo", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://www.beniculturali.it/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/Ministero_della_Cultura.png", alt: "MIC, Ministero della Cultura", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://www.regione.piemonte.it/web/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/3_regione-piemonte-logo-cdd-white.png", alt: "Regione Piemonte", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://www.fondazionecrt.it/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/4_CRT-logo-cdd-white.png", alt: "Fondazione CRT", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://realefoundation.org/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/reale_foundation.png", alt: "Reale Foundation", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://group.intesasanpaolo.com/it/sociale/fondo-di-beneficenza", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/intesa-sanpaolo-fondo-di-beneficienza.png", alt: "Reale Foundation", class: "footer-sostenitore-img" %>
          <% end %>
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-partners-container">
        <p class="footer-label">Sponsor</p>
        <div class="footer-partners-grid">
          <%= link_to "https://www.cna-to.it/it/Home/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "CNA-cdd-white.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://www.ui.torino.it/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/unione-industriali-torino.png", alt: "Unione Industriali Torino", class: "footer-sostenitore-img" %>
          <% end %>
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-partners-container">
        <p class="footer-label">Network</p>
        <div class="footer-partners-grid">
          <%= link_to "https://new-european-bauhaus.europa.eu/index_en", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/NEB.png", alt: "New European Bauhaus", class: "footer-sostenitore-img" %>
          <% end %>
          <%= link_to "https://cultureactioneurope.org/", target: "_blank", class: "w-inline-block" do %>
            <p></p>
            <%= image_tag "partner/WHITE/CEA.png", alt: "Culture Action Europe", class: "footer-sostenitore-img" %>
          <% end %>
        </div>

      </div>
      <div class="footer-divider"></div>
      <div class="footer-bottom">
        <div class="footer-bottom-center">
          <a href="#top" class="footer-bottom-item">Back to top</a>
        </div>
        <div class="footer-bottom-right">
          <%= link_to 'Operazione Trasparenza', operazione_trasparenza_path, class: "footer-bottom-item footer-link-spacing" %>
          <%= link_to 'Privacy & Cookie Policy', privacy_cookie_policy_path, class: "footer-bottom-item footer-link-spacing" %>
        </div>
      </div>
    </div>
  </footer>
