<footer class="section-a-6-footer">
    <div>
      <div class="footer-top w-clearfix">
        <div class="footer-cdd-heading">
          <%= image_tag "LOGO_CdD_white.svg", alt: "Circolo del Design logo", class: "logo-footer" %>
          <div class="footer-cdd-info">© 2020 Circolo Del Design Torino<br>All Rights Reserved</div><a href="mailto:info@circolodeldesign.it?subject=Email%20da%20sito" class="footer-info-mail">info@circolodeldesign.it</a><a href="https://www.facebook.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Facebook</a><a href="https://twitter.com/CdD_torino" target="_blank" class="footer-cdd-info-social">Twitter</a><a href="https://www.instagram.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social last">Instagram</a>
        </div>
        <div class="footer-sitemap-block">
            <strong>ORARI:</strong><br>
            Martedì, giovedì, venerdì, sabato / 13.30 – 19<br>
            Mercoledì / 13.30 – 20
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <%= link_to "https://www.compagniadisanpaolo.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "1_Copagnia-san-paolo-logo-cdd-white.png", alt: "Compagnia San Paolo", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.to.camcom.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "2_camera-di-commercio-torino-logo-cdd-white.png", alt: "Camera di Commercio Industria Artigianato e agricoltura di Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.cna.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "CNA-cdd-white.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.ui.torino.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "UnioneIndustriale-CdD-white.png", alt: "Unione Industriale Torino", class: "footer-sostenitore-img" %>
        <% end %>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-bottom">
        <div class="footer-bottom-center"><a href="#top" class="footer-bottom-item">Back to top</a></div>
        <div class="footer-bottom-right">
          <a href="media/CDD_press_kit.zip" class="footer-bottom-item footer-link-spacing">Press Kit</a>
          <%= link_to 'Privacy & Cookie Policy', privacy_cookie_policy_path, class: "footer-bottom-item footer-link-spacing" %>
          <a href="https://www.saglietti.it/" target="_blank" class="footer-bottom-item footer-link-spacing">Design</a>
          <a href="https://www.fsansalvadore.com/" target="_blank" class="footer-bottom-item footer-link-spacing">Webdesign</a></div>
      </div>
    </div>
  </footer>
