<footer class="section-a-6-footer">
    <div>
      <div class="footer-top w-clearfix">
        <div class="footer-cdd-heading">
          <%= link_to root_path do  %>
            <%= image_tag "LOGO_CdD_white.svg", alt: "Circolo del Design logo", class: "logo-footer" %>
          <% end %>
          <div class="footer-cdd-info">© 2020 Circolo Del Design Torino<br>All Rights Reserved</div>
          <a href="mailto:info@circolodeldesign.it?subject=Email%20da%20sito" target="_blank" class="footer-info-mail">info@circolodeldesign.it</a>
          <a href="tel:+393713242750" class="footer-info-mail">+39 371 324 2750</a>
          <a href="https://www.facebook.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Facebook</a>
          <a href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="footer-cdd-info-social">Linkedin</a>
          <a href="https://www.instagram.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social last">Instagram</a>
        </div>
        <nav class="w-layout-grid footer-sitemap-grid">
          <div class="footer-sitemap-block">
            <div data-w-id="4b5a7398-b1e9-d485-4fb6-16d03f677dac" class="footer-sitemap-list-title-no-hover">About Us</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Il Circolo", about_us_il_circolo_path, class: "footer-sitemap-list-item", alt: "Il Circolo del Design alimenta e diffonde la cultura del progetto." %>
              <%= link_to "Team", about_us_team_path, class: "footer-sitemap-list-item", alt: "Il team del Circolo del Design." %>
              <%= link_to "Sostenitori", about_us_sostenitori_path, class: "footer-sitemap-list-item", alt: "Scopri chi ci sostiene." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="fa246212-cee5-efd1-2237-f330bc55c245" class="footer-sitemap-list-title-no-hover">What&#x27;s On</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Programma", whats_on_programma_path, class: "footer-sitemap-list-item", alt: "Scopri tutti gli eventi del Circolo del Design." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="029f16f5-d0c9-3d36-9620-7667132adcf7" class="footer-sitemap-list-title-no-hover">Progetti Speciali</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Introduzione", progetti_speciali_introduzione_path, class: "footer-sitemap-list-item", alt: "Al fianco della programmazione, il Circolo del Design lavora per lo sviluppo di Progetti Speciali con l’ambizione di incidere concretamente su ambiti specifici." %>
              <%= link_to "Ask To Design", progetti_speciali_ask_to_design_path, class: "footer-sitemap-list-item", alt: "Ask to Design vuole alimentare la cultura del progetto nel mondo della produzione e promuovere l’incontro tra le realtà aziendali e i progettisti." %>
              <%= link_to "Video Torino Creative City UNESCO", progetti_speciali_video_torino_creative_city_unesco_path, class: "footer-sitemap-list-item", alt: "Il video Torino Creative City, prodotto dal Circolo del Design, è stato presentato in anteprima a Fabriano in occasione dell’Assemblea mondiale delle città creative Unesco." %>
              <%= link_to "Interaction 20", progetti_speciali_interaction_20_path, class: "footer-sitemap-list-item", alt: "La Camera di commercio di Torino e il Circolo del Design realizzano due pacchetti di tour all’interno della programmazione di Interaction 20, il congresso biennale organizzato dall’Interaction Design Association che approda per la prima volta in Italia." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="c5c01c71-4db2-1d45-e766-41bcb549dfaa" class="footer-sitemap-list-title-no-hover">Servizi</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Spazi", servizi_spazi_path, class: "footer-sitemap-list-item", alt: "Il Circolo del Design dà la possibilità di affittare alcuni dei suoi spazi per eventi dedicati ad un pubblico specifico ristretto e per eventi aperti al pubblico." %>
              <%= link_to "Biblioteca", servizi_biblioteca_path, class: "footer-sitemap-list-item", alt: "La Biblioteca del Circolo sostiene la ricerca e la creatività di professionisti e studenti del settore e fornisce occasioni di approfondimento a curiosi e appassionati." %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <%= link_to contatti_path, class: "footer-sitemap-list-title", alt: "Il Circolo del Design è aperto al dialogo, contattaci." do %>
              Contatti
            <% end %>
          </div>
          <div class="footer-sitemap-block">
            <%= link_to "Become a Member", membership_path, class: "footer-sitemap-list-title", alt: "L’ingresso al Circolo del Design è riservato ai soci." %>
          </div>
        </nav>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <div class="footer-orari-container">
          <strong class="uppercase">Orari di apertura</strong><br>
          Da Martedì a Sabato / 13.30 – 19
        </div>
      </div>
    </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <%= link_to "https://www.compagniadisanpaolo.it/", target: "_blank", class: "w-inline-block" do %>
        <p>Main Partner</p>
        <%= image_tag "1_Copagnia-san-paolo-logo-cdd-white.png", alt: "Compagnia San Paolo", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.to.camcom.it/", target: "_blank", class: "w-inline-block" do %>
        <p>Partner</p>
        <%= image_tag "2_camera-di-commercio-torino-logo-cdd-white.png", alt: "Camera di Commercio Industria Artigianato e agricoltura di Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.cna.it/", target: "_blank", class: "w-inline-block" do %>
        <p>Con il contributo di</p>
        <%= image_tag "CNA-cdd-white.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.ui.torino.it/", target: "_blank", class: "w-inline-block" do %>
        <p></p>
        <%= image_tag "UnioneIndustriale-CdD-white.png", alt: "Unione Industriale Torino", class: "footer-sostenitore-img" %>
        <% end %>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-bottom">
      <div class="footer-bottom-center">
        <a href="#top" class="footer-bottom-item">Back to top</a>
      </div>
      <div class="footer-bottom-right">
        <%= link_to 'Privacy & Cookie Policy', privacy_cookie_policy_path, class: "footer-bottom-item footer-link-spacing" %>
        <a href="https://www.saglietti.it/" target="_blank" class="footer-bottom-item footer-link-spacing">Design</a>
        <a href="https://www.fsansalvadore.com/" target="_blank" class="footer-bottom-item footer-link-spacing">Webdesign</a>
      </div>
      </div>
    </div>
  </footer>
