<footer class="section-a-6-footer">
    <div>
      <div class="footer-top w-clearfix">
        <div class="footer-cdd-heading">
          <%= link_to root_path do  %>
            <%= image_tag "LOGO_CdD_white.svg", alt: "Circolo del Design logo", class: "logo-footer" %>
          <% end %>
          <div class="footer-cdd-info">© 2020 Circolo Del Design Torino<br>All Rights Reserved</div>
          <a href="mailto:info@circolodeldesign.it?subject=Email%20da%20sito" target="_blank" class="footer-info-mail">info@circolodeldesign.it</a>
          <a href="tel:+393713242750" class="footer-info-mail">+39 371 324 2750</a>
          <a href="https://www.facebook.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social">Facebook</a>
          <a href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="footer-cdd-info-social">Linkedin</a>
          <a href="https://www.instagram.com/circolodeldesign/" target="_blank" class="footer-cdd-info-social last">Instagram</a>
        </div>
        <div class="w-layout-grid footer-sitemap-grid">
          <div class="footer-sitemap-block">
            <div data-w-id="4b5a7398-b1e9-d485-4fb6-16d03f677dac" class="footer-sitemap-list-title-no-hover">About Us</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Il Circolo", about_us_il_circolo_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Team", about_us_team_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Sostenitori", about_us_sostenitori_path, class: "footer-sitemap-list-item" %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="fa246212-cee5-efd1-2237-f330bc55c245" class="footer-sitemap-list-title-no-hover">What&#x27;s On</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Programma", whats_on_programma_path, class: "footer-sitemap-list-item" %>
              <a href="#" class="footer-sitemap-list-item">Impressum del mese</a>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="029f16f5-d0c9-3d36-9620-7667132adcf7" class="footer-sitemap-list-title-no-hover">Progetti Speciali</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Introduzione", progetti_speciali_introduzione_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Ask To Design", progetti_speciali_ask_to_design_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Video Torino Creative City UNESCO", progetti_speciali_video_torino_creative_city_unesco_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Interaction 20", progetti_speciali_interaction_20_path, class: "footer-sitemap-list-item" %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <div data-w-id="c5c01c71-4db2-1d45-e766-41bcb549dfaa" class="footer-sitemap-list-title-no-hover">Servizi</div>
            <div class="footer-sitemap-list-wrapper">
              <%= link_to "Spazi", servizi_spazi_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Biblioteca", servizi_biblioteca_path, class: "footer-sitemap-list-item" %>
              <%= link_to "Store", servizi_store_path, class: "footer-sitemap-list-item" %>
            </div>
          </div>
          <div class="footer-sitemap-block">
            <%= link_to contatti_path, class: "footer-sitemap-list-title" do %>
              Contatti
            <% end %>
          </div>
          <div class="footer-sitemap-block">
            <a href="#" class="footer-sitemap-list-title">Become a Member</a>
          </div>
        </div>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <div class="footer-orari-container">
          <strong>ORARI</strong><br>
          Martedì, giovedì, venerdì, sabato / 13.30 – 19<br>
          Mercoledì / 13.30 – 20
        </div>
      </div>
    </div>
      <div class="footer-divider"></div>
      <div class="footer-sostenitori-container">
        <%= link_to "https://www.compagniadisanpaolo.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "1_Copagnia-san-paolo-logo-cdd-white.png", alt: "Compagnia San Paolo", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.to.camcom.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "2_camera-di-commercio-torino-logo-cdd-white.png", alt: "Camera di Commercio Industria Artigianato e agricoltura di Torino", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.cna.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "CNA-cdd-white.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "footer-sostenitore-img" %>
        <% end %>
        <%= link_to "https://www.ui.torino.it/", target: "_blank", class: "w-inline-block" do %>
        <%= image_tag "UnioneIndustriale-CdD-white.png", alt: "Unione Industriale Torino", class: "footer-sostenitore-img" %>
        <% end %>
      </div>
      <div class="footer-divider"></div>
      <div class="footer-bottom">
      <div class="footer-bottom-center">
        <a href="#top" class="footer-bottom-item">Back to top</a>
      </div>
      <div class="footer-bottom-right">
        <a href="media/CDD_press_kit.zip" class="footer-bottom-item footer-link-spacing">Press Kit</a>
        <%= link_to 'Privacy & Cookie Policy', privacy_cookie_policy_path, class: "footer-bottom-item footer-link-spacing" %>
        <a href="https://www.saglietti.it/" target="_blank" class="footer-bottom-item footer-link-spacing">Design</a>
        <a href="https://www.fsansalvadore.com/" target="_blank" class="footer-bottom-item footer-link-spacing">Webdesign</a>
      </div>
      </div>
    </div>
  </footer>
