  <header data-collapse="none" data-animation="default" data-duration="400" data-w-id="e1ce827e-4e2b-205f-0506-831e049377c3" class="navbar-inner-page w-nav">
    <%= link_to root_path, {
      'data-w-id' => 'f8f6fcc8-1ac5-1308-4e0f-52f0c4ef5dc2',
      class: 'brand w-nav-brand w--current'
    } do %>
      <%= image_tag "Logo-CDD.svg", alt: "Logo CdD", width:"120", class:"image" %>
      <%= image_tag "Logo-CircoloDelDesign.svg", alt: "Circolo del Design", width:"334", class:"hidden md:block ml-4" %>
    <% end %>
    <div role="navigation" data-w-id="e1ce827e-4e2b-205f-0506-831e049377c6" class="nav-menu-a w-nav-menu">
      <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377c7" class="menu-line"></div>
      <div class="menu-text-a">MENU</div>
      <div class="menu-line-bottom"></div>
    </div>
    <%= render "shared/menu-container" %>
    <div class="menu-circle-bg"></div>
    <%= link_to membership_path, { 'data-w-id' => "8104def8-98e2-3317-9d6a-7c46fa2c56a3", class: "membership-link w-inline-block"} do %>
      <div class="nav-cta-membership">Become a member</div>
    <% end %>
  </header>
