<div class="menu-container menu-container-a">
  <div class="menu-grid-container">
    <nav class="menu-list-container">
      <div data-w-id="" class="link-menu-container link-a-2">
        <div class="menu-main-link">
          <h2>About us</h2>
          <div class="menu-toggle-icon-contianer">
            <div class="div-block-27 menu-toggle-line"></div>
            <div class="menu-icon-line-anim"></div>
          </div>
        </div>
        <div class="menu-sub-links-container" style="display: none;">
          <%= link_to about_us_il_circolo_path, class: "menu-sub-link w-inline-block", alt: "Il Circolo del Design alimenta e diffonde la cultura del progetto." do %>
            <div>IL CIRCOLO</div>
          <% end %>
          <%= link_to about_us_team_path, class: "menu-sub-link w-inline-block", alt: "Il team del Circolo del Design." do %>
            <div>TEAM</div>
          <% end %>
          <%= link_to about_us_sostenitori_path, class: "menu-sub-link w-inline-block", alt: "Scopri chi ci sostiene." do %>
            <div>SOSTENITORI</div>
          <% end %>
        </div>
      </div>
      <div data-w-id="" class="link-menu-container link-a-2">
        <div class="menu-main-link">
          <h2>WHAT’S ON</h2>
          <div class="menu-toggle-icon-contianer">
            <div class="div-block-27 menu-toggle-line"></div>
            <div class="menu-icon-line-anim"></div>
          </div>
        </div>
        <div class="menu-sub-links-container" style="display: none;">
          <%= link_to whats_on_HomingCdD_path, class: "menu-sub-link w-inline-block", alt: "Interviste, video, rubriche e approfondimenti legati alla cultura del progetto." do %>
            <div>#HomingCdD</div>
          <% end %>
          <%= link_to whats_on_i_volti_2019_path, class: "menu-sub-link w-inline-block", alt: "Alcuni dei protagonisti che hanno portato la loro esperienza e i loro racconti al Circolo del Design." do %>
            <div>I VOLTI DEL 2019</div>
          <% end %>
        </div>
      </div>
      <div data-w-id="" class="link-menu-container link-a-4">
        <div class="menu-main-link">
          <h2>Progetti Speciali</h2>
          <div class="menu-toggle-icon-contianer">
            <div class="div-block-27 menu-toggle-line"></div>
            <div class="menu-icon-line-anim"></div>
          </div>
        </div>
        <div class="menu-sub-links-container" style="display: none;">
          <%= link_to progetti_speciali_introduzione_path, class: "menu-sub-link w-inline-block", alt: "Al fianco della programmazione, il Circolo del Design lavora per lo sviluppo di Progetti Speciali con l’ambizione di incidere concretamente su ambiti specifici." do %>
            <div>Introduzione</div>
          <% end %>
          <%= link_to progetti_speciali_ask_to_design_path, class: "menu-sub-link w-inline-block", alt: "Ask to Design vuole alimentare la cultura del progetto nel mondo della produzione e promuovere l’incontro tra le realtà aziendali e i progettisti." do %>
            <div>ASK TO DESIGN</div>
          <% end %>
          <%= link_to progetti_speciali_video_torino_creative_city_unesco_path, class: "menu-sub-link w-inline-block", alt: "Il video Torino Creative City, prodotto dal Circolo del Design, è stato presentato in anteprima a Fabriano in occasione dell’Assemblea mondiale delle città creative Unesco." do %>
            <div>Video Torino Creative City Unesco</div>
          <% end %>
          <%= link_to progetti_speciali_interaction_20_path, class: "menu-sub-link w-inline-block", alt: "La Camera di commercio di Torino e il Circolo del Design realizzano due pacchetti di tour all’interno della programmazione di Interaction 20, il congresso biennale organizzato dall’Interaction Design Association che approda per la prima volta in Italia." do %>
            <div>Interaction 20</div>
          <% end %>
        </div>
      </div>
      <div data-w-id="" class="link-menu-container link-a-4">
        <div class="menu-main-link">
          <h2>Servizi</h2>
          <div class="menu-toggle-icon-contianer">
            <div class="div-block-27 menu-toggle-line"></div>
            <div class="menu-icon-line-anim"></div>
          </div>
        </div>
        <div class="menu-sub-links-container" style="display: none;">
          <%= link_to servizi_spazi_path, class: "menu-sub-link w-inline-block", alt: "Il Circolo del Design dà la possibilità di affittare alcuni dei suoi spazi per eventi dedicati ad un pubblico specifico ristretto e per eventi aperti al pubblico." do %>
            <div>SPAZI</div>
          <% end %>
          <%= link_to servizi_biblioteca_path, class: "menu-sub-link w-inline-block", alt: "La Biblioteca del Circolo sostiene la ricerca e la creatività di professionisti e studenti del settore e fornisce occasioni di approfondimento a curiosi e appassionati." do %>
            <div>BIBLIOTECA</div>
          <% end %>
        </div>
      </div>
      <%= link_to contatti_path, class: "link-menu-container link-a-5 w-inline-block", alt: "Il Circolo del Design è aperto al dialogo, contattaci." do %>
        <div class="menu-main-link"><h2>CONTATTI</h2></div>
      <% end %>
    </nav>
    <div class="line-menu-a-1"></div>
    <div class="line-menu-a-2"></div>
    <div class="line-menu-a-3"></div>
    <div class="menu-right-div">
      <%= link_to membership_path, {'data-w-id' => "e1ce827e-4e2b-205f-0506-831e04937810", class: "menu-member-container w-inline-block", alt: "L’ingresso al Circolo del Design è riservato ai soci."} do %>
        <div data-w-id="e1ce827e-4e2b-205f-0506-831e04937811" class="menu-member-content">
          <div>Become a Member</div>
          <div class="arrow-right member-arrow">
            <div class="member-arrow-line"></div>
            <div class="arrow-point-right member-arrow">
              <div class="div-block-3 bold-line"></div>
              <div class="div-block-3 arrow-point-lower bold-line"></div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="line-menu-a-4"></div>
      <div class="menu-info-box">
        <div class="menu-info-text">
          <strong>Via San Francesco Da Paola 17<br>
        </strong>10123 Torino TO Italia<br>
        info@circolodeldesign.it<br><br>
        <strong class="uppercase">Orari di apertura</strong><br>
        Da Martedì a Sabato / 13.30 – 19
      </div>
      </div>
      <div class="line-menu-a-5"></div>
      <div class="menu-social-box">
        <a data-w-id="e1ce827e-4e2b-205f-0506-831e0493782f" href="https://www.facebook.com/circolodeldesign/" target="_blank" class="link-social-container w-inline-block">
          <div class="word-slider">
            <div class="menu-social-link">Facebook</div>
            <div class="menu-social-link">Facebook</div>
          </div>
        </a>
        <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937832" href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="link-social-container w-inline-block">
          <div class="word-slider">
            <div class="menu-social-link">Linkedin</div>
            <div class="menu-social-link">Linkedin</div>
          </div>
        </a>
        <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937835" href="https://www.instagram.com/circolodeldesign/" target="_blank" class="link-social-container last-link-social w-inline-block">
          <div class="word-slider">
            <div class="menu-social-link">Instagram</div>
            <div class="menu-social-link">Instagram</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
