<div class="menu-container menu-container-a">
      <div class="menu-grid-container">
        <!-- <div class="menu-lang-box div-block-34">
          <a href="#" class="link-lang-container active-lang w-inline-block">
            <div class="menu-lang-link active-lang">ITA</div>
          </a>
          <a href="#" class="link-lang-container w-inline-block">
            <div class="menu-lang-link">ENG</div>
          </a>
        </div> -->
        <div class="menu-list-container">
          <div data-w-id="" class="link-menu-container link-a-2">
            <div class="menu-main-link">
              <h2>About us</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <%= link_to about_us_il_circolo_path, class: "menu-sub-link w-inline-block" do %>
                <div>IL CIRCOLO</div>
              <% end %>
              <%= link_to about_us_team_path, class: "menu-sub-link w-inline-block" do %>
                <div>TEAM</div>
              <% end %>
              <%= link_to about_us_sostenitori_path, class: "menu-sub-link w-inline-block" do %>
                <div>SOSTENITORI</div>
              <% end %>
            </div>
          </div>
          <div data-w-id="" class="link-menu-container link-a-2">
            <div class="menu-main-link">
              <h2>WHAT’S ON</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <%= link_to whats_on_programma_path, class: "menu-sub-link w-inline-block" do %>
                <div>PROGRAMMA</div>
              <% end %>
            </div>
          </div>
          <div data-w-id="" class="link-menu-container link-a-4">
            <div class="menu-main-link">
              <h2>Progetti Speciali</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <%= link_to progetti_speciali_introduzione_path, class: "menu-sub-link w-inline-block" do %>
                <div>Introduzione</div>
              <% end %>
              <%= link_to progetti_speciali_ask_to_design_path, class: "menu-sub-link w-inline-block" do %>
                <div>ASK TO DESIGN</div>
              <% end %>
              <%= link_to progetti_speciali_video_torino_creative_city_unesco_path, class: "menu-sub-link w-inline-block" do %>
                <div>Video Torino Creative City Unesco</div>
              <% end %>
              <%= link_to progetti_speciali_interaction_20_path, class: "menu-sub-link w-inline-block" do %>
                <div>Interaction 20</div>
              <% end %>
            </div>
          </div>
          <div data-w-id="" class="link-menu-container link-a-4">
            <div class="menu-main-link">
              <h2>Servizi</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <%= link_to servizi_spazi_path, class: "menu-sub-link w-inline-block" do %>
                <div>SPAZI</div>
              <% end %>
              <%= link_to servizi_biblioteca_path, class: "menu-sub-link w-inline-block" do %>
                <div>BIBLIOTECA</div>
              <% end %>
              <%= link_to servizi_store_path, class: "menu-sub-link w-inline-block" do %>
                <div>STORE</div>
              <% end %>
            </div>
          </div>
          <%= link_to contatti_path, class: "link-menu-container link-a-5 w-inline-block" do %>
            <div class="menu-main-link"><h2>CONTATTI</h2></div>
          <% end %>
        </div>
        <div class="line-menu-a-1"></div>
        <div class="line-menu-a-2"></div>
        <div class="line-menu-a-3"></div>
        <div class="menu-right-div">
          <%= link_to membership_path, {'data-w-id' => "e1ce827e-4e2b-205f-0506-831e04937810", class: "menu-member-container w-inline-block"} do %>
            <div data-w-id="e1ce827e-4e2b-205f-0506-831e04937811" class="menu-member-content">
              <div>Become a Member</div>
              <div class="arrow-right member-arrow">
                <div class="member-arrow-line"></div>
                <div class="arrow-point-right member-arrow">
                  <div class="div-block-3 bold-line"></div>
                  <div class="div-block-3 arrow-point-lower bold-line"></div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="line-menu-a-4"></div>
          <div class="menu-info-box">
            <div class="menu-info-text">
              <strong>Via San Francesco Da Paola 17<br>
            </strong>10123 Torino TO Italia<br>
            info@circolodeldesign.it<br><br>
            <strong>ORARI</strong><br>
            Martedì, giovedì, venerdì, sabato / 13.30 – 19<br>
            Mercoledì / 13.30 – 20</div>
          </div>
          <div class="line-menu-a-5"></div>
          <div class="menu-social-box">
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e0493782f" href="https://www.facebook.com/circolodeldesign/" target="_blank" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Facebook</div>
                <div class="menu-social-link">Facebook</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937832" href="https://www.linkedin.com/company/circolo-del-design/" target="_blank" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Linkedin</div>
                <div class="menu-social-link">Linkedin</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937835" href="https://www.instagram.com/circolodeldesign/" target="_blank" class="link-social-container last-link-social w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Instagram</div>
                <div class="menu-social-link">Instagram</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
