<header data-collapse="none" data-animation="default" data-duration="400" data-w-id="" class="navbar-inner-page w-nav <%= varClass unless !varClass %>">
  <%= link_to root_path, {
    'data-w-id' => 'f8f6fcc8-1ac5-1308-4e0f-52f0c4ef5dc2',
    class: 'brand w-nav-brand w--current'
  } do %>
    <%= image_tag "LOGO_CdD.svg", alt: "Circolo del Design", width:"151", class:"image" %>
  <% end %>
  <% unless !@wpac || @wpac.subtitle.empty? %>
    <div class="wpac_subtitle"><%= @wpac.subtitle %></div>
  <% end %>
  <div role="navigation" data-w-id="e1ce827e-4e2b-205f-0506-831e049377c6" class="nav-menu-a w-nav-menu">
    <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377c7" class="menu-line"></div>
    <div class="menu-text-a">MENU</div>
    <div class="menu-line-bottom"></div>
  </div>
  <%= render "shared/menu-container" %>
  <div class="menu-circle-bg"></div>
  <%= link_to membership_path, class: "membership-link w-inline-block" do %>
    <div class="nav-cta-membership">Become a member</div>
  <% end %>
</header>
