<div class="articles-grid">
  <% unless articles.empty? %>
    <% articles.each do |article| %>
      <%= link_to wpac_article_path(article), class: "article_thumb_link" do %>
      <% defaultBg = "CircoloDelDesign_1200x630.png" %>
      <% if article.media_type.downcase == "voci" && article.cover.file.nil? %>
        <div class="article_thumb_box" style="background-image: url('<%= article.cover.file.nil? ? defaultBg : (cl_image_path article.cover) %>'), linear-gradient(-45deg, #D07272 0%, #9E3535 100%);">
        <div class="soundcloud_logo">
          <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.68 19.52L16 14.7L15.68 4.24C15.6667 4.10667 15.6167 3.99333 15.53 3.9C15.4433 3.80667 15.3333 3.76 15.2 3.76C15.08 3.76 14.9733 3.80667 14.88 3.9C14.7867 3.99333 14.74 4.10667 14.74 4.24L14.46 14.7L14.74 19.52C14.7533 19.6533 14.8033 19.7633 14.89 19.85C14.9767 19.9367 15.08 19.98 15.2 19.98C15.4933 19.98 15.6533 19.8267 15.68 19.52ZM21.6 18.94L21.82 14.72L21.58 3C21.58 2.78667 21.4933 2.62667 21.32 2.52C21.2133 2.45333 21.1067 2.42 21 2.42C20.8933 2.42 20.7867 2.45333 20.68 2.52C20.5067 2.62667 20.42 2.78667 20.42 3L20.4 3.12L20.2 14.7C20.2 14.7133 20.2733 16.2867 20.42 19.42V19.44C20.42 19.5733 20.46 19.6867 20.54 19.78C20.66 19.9267 20.8133 20 21 20C21.1467 20 21.28 19.94 21.4 19.82C21.52 19.7267 21.58 19.5933 21.58 19.42L21.6 18.94ZM0.7 12.14L1.1 14.7L0.7 17.22C0.673333 17.34 0.613333 17.4 0.52 17.4C0.426667 17.4 0.366667 17.34 0.34 17.22L0 14.7L0.34 12.14C0.366667 12.02 0.426667 11.96 0.52 11.96C0.613333 11.96 0.673333 12.02 0.7 12.14ZM2.42 10.56L2.94 14.7L2.42 18.76C2.39333 18.88 2.32667 18.94 2.22 18.94C2.1 18.94 2.04 18.8733 2.04 18.74L1.58 14.7L2.04 10.56C2.04 10.44 2.1 10.38 2.22 10.38C2.32667 10.38 2.39333 10.44 2.42 10.56ZM4.26 9.8L4.76 14.7L4.26 19.44C4.26 19.5867 4.18667 19.66 4.04 19.66C3.90667 19.66 3.82667 19.5867 3.8 19.44L3.38 14.7L3.8 9.8C3.82667 9.64 3.90667 9.56 4.04 9.56C4.18667 9.56 4.26 9.64 4.26 9.8ZM6.14 9.66L6.6 14.7L6.14 19.58C6.11333 19.7533 6.02 19.84 5.86 19.84C5.68667 19.84 5.6 19.7533 5.6 19.58L5.18 14.7L5.6 9.66C5.6 9.48667 5.68667 9.4 5.86 9.4C6.02 9.4 6.11333 9.48667 6.14 9.66ZM8.02 10.02L8.44 14.7L8.02 19.62C7.99333 19.8333 7.88667 19.94 7.7 19.94C7.62 19.94 7.55 19.91 7.49 19.85C7.43 19.79 7.4 19.7133 7.4 19.62L7 14.7L7.4 10.02C7.4 9.94 7.43 9.87 7.49 9.81C7.55 9.75 7.62 9.72 7.7 9.72C7.88667 9.72 7.99333 9.82 8.02 10.02ZM9.9 7.1L10.32 14.7L9.9 19.62C9.9 19.7133 9.86667 19.7967 9.8 19.87C9.73333 19.9433 9.65333 19.98 9.56 19.98C9.34667 19.98 9.22667 19.86 9.2 19.62L8.84 14.7L9.2 7.1C9.22667 6.86 9.34667 6.74 9.56 6.74C9.65333 6.74 9.73333 6.77667 9.8 6.85C9.86667 6.92333 9.9 7.00667 9.9 7.1ZM11.78 5.38L12.16 14.74L11.78 19.62C11.78 19.7267 11.7433 19.8167 11.67 19.89C11.5967 19.9633 11.5067 20 11.4 20C11.16 20 11.0267 19.8733 11 19.62L10.68 14.74L11 5.38C11.0267 5.12667 11.16 5 11.4 5C11.5067 5 11.5967 5.03667 11.67 5.11C11.7433 5.18333 11.78 5.27333 11.78 5.38ZM13.74 4.58L14.1 14.7L13.74 19.54C13.7133 19.82 13.5667 19.96 13.3 19.96C13.0467 19.96 12.9067 19.82 12.88 19.54L12.56 14.7L12.88 4.58C12.88 4.46 12.9233 4.35667 13.01 4.27C13.0967 4.18333 13.1933 4.14 13.3 4.14C13.42 4.14 13.52 4.18333 13.6 4.27C13.68 4.35667 13.7267 4.46 13.74 4.58ZM17.62 4.5L17.92 14.7L17.62 19.48C17.62 19.6133 17.57 19.73 17.47 19.83C17.37 19.93 17.2533 19.98 17.12 19.98C16.9867 19.98 16.8733 19.9333 16.78 19.84C16.6867 19.7467 16.6333 19.6267 16.62 19.48L16.34 14.7L16.62 4.5C16.62 4.35333 16.67 4.23333 16.77 4.14C16.87 4.04667 16.9867 4 17.12 4C17.2533 4 17.37 4.04667 17.47 4.14C17.57 4.23333 17.62 4.35333 17.62 4.5ZM19.6 4.88L19.88 14.72L19.6 19.44C19.6 19.5867 19.5467 19.7133 19.44 19.82C19.3333 19.9267 19.2067 19.98 19.06 19.98C18.9133 19.98 18.7867 19.9267 18.68 19.82C18.5733 19.7133 18.5133 19.5867 18.5 19.44L18.26 14.72L18.5 4.88C18.5133 4.72 18.5733 4.58667 18.68 4.48C18.7867 4.37333 18.9133 4.32 19.06 4.32C19.2067 4.32 19.33 4.37333 19.43 4.48C19.53 4.58667 19.5867 4.72 19.6 4.88ZM23.84 14.72L23.56 19.34C23.56 19.5133 23.5 19.66 23.38 19.78C23.26 19.9 23.1133 19.96 22.94 19.96C22.7667 19.96 22.62 19.9 22.5 19.78C22.38 19.66 22.3133 19.5133 22.3 19.34L22.18 17.06L22.06 14.72L22.3 2V1.94C22.3267 1.74 22.4067 1.58 22.54 1.46C22.66 1.36667 22.7933 1.32 22.94 1.32C23.0467 1.32 23.1467 1.35333 23.24 1.42C23.4267 1.52667 23.5333 1.7 23.56 1.94L23.84 14.72ZM46.08 14.34C46.08 15.9 45.5267 17.23 44.42 18.33C43.3133 19.43 41.98 19.98 40.42 19.98H24.7C24.5267 19.9533 24.38 19.88 24.26 19.76C24.14 19.64 24.08 19.4933 24.08 19.32V1.34C24.08 1.03333 24.2667 0.813333 24.64 0.68C25.7733 0.226667 26.98 0 28.26 0C30.86 0 33.1133 0.876667 35.02 2.63C36.9267 4.38333 37.9933 6.54 38.22 9.1C38.9267 8.80667 39.66 8.66 40.42 8.66C41.98 8.66 43.3133 9.21333 44.42 10.32C45.5267 11.4267 46.08 12.7667 46.08 14.34Z" fill="white"/>
          </svg>
        </div>
      <% else %>
        <div class="article_thumb_box" style="background-image: url('<%= article.cover.file.nil? ? defaultBg : (cl_image_path article.cover) %>');">
      <% end %>
          <% if icon %>
            <div class="article_thumb_media">
              <%= image_tag "#{article.media_type.downcase}.svg", class: "thumb_icon", alt: "#{article.media_type}" %>
            </div>
          <% end %>
          <div class="article_thumb_overlay <%= 'studio' if article.project_studio && !article.project_studio.empty? %>">
            <% if article.project_studio && !article.project_studio.empty? %>
              <div class="project_title_overlay">
                <%=raw article.project_title %>
              </div>
            <% end %>
            <div class="overlay_arrow">
              <svg width="40" height="22" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 8V6H22L18 2L19 0L26 7L19 14L18 12L22 8H0.5Z" fill="#C10720"/>
              </svg>
            </div>
          </div>
        </div>
        <h3><%= article.title %></h3>
      <% end %>
    <% end %>
  <% else %>
    <div class="nothing_found_message">
      <p>Nessun contenuto trovato.</p>
    </div>
  <% end %>
</div>
