<div class="media-container">
    <% if title %>
      <h3>Media</h3>
    <% end %>
    <div class="media_boxes">
      <%= link_to articles_media_path("interviste"), class: "media_box" do %>
        <div class="media_box_content">
          <%= image_tag "interviste.svg", alt: "Icona interviste" %>
          <p>Interviste</p>
        </div>
      <% end %>
      <%= link_to articles_media_path("audio"), class: "media_box" do %>
        <div class="media_box_content">
          <%= image_tag "audio.svg", alt: "Icona voci" %>
          <p>Audio</p>
        </div>
      <% end %>
      <%= link_to articles_media_path("progetti"), class: "media_box" do %>
        <div class="media_box_content">
          <%= image_tag "progetti.svg", alt: "Icona progetti" %>
          <p>Progetti</p>
        </div>
      <% end %>
      <%= link_to articles_media_path("video"), class: "media_box" do %>
        <div class="media_box_content">
          <%= image_tag "video.svg", alt: "Icona video" %>
          <p>Video</p>
        </div>
      <% end %>
    </div>
  </div>
