<% content_for :meta_title, "Programma — What's On — Circolo del Design" %>
<% content_for :meta_description, "I prossimi appuntamenti al Circolo del Design." %>

<header id="top" class="page-header-container">
  <div class="w-container large">
    <div class="breadcrumb-text"><%= link_to "Home", root_path %> / What's On</div>
    <h1 class="page-header-title">Programma</h1>
    <div class="page-header-subtitle">I prossimi appuntamenti al Circolo del Design.</div>
  </div>
</header>
<main class="page-postheader">
  <div class="calendar-main-container w-container large">
    <div class="calendar-content-left">
      <div class="calendar-filters-container">
        <%= form_tag whats_on_programma_path, method: :get, class: "events-search-form m-bottom-30" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "event-form-control",
            placeholder: "Cerca tra gli eventi"
          %>
          <%= button_tag :submit, {class: "search-btn"} do %>
            <div class="search icon"></div>
          <% end %>
        <% end %>
        <!-- Categories select -->
        <%= form_tag whats_on_programma_path, method: :get, class: "category-search-form m-bottom-30" do %>
          <%= select_tag("categoria", options_for_select([["Design Insights", "Design Insights"], ["Experience", "Experience"], ["Mostra", "Mostra"], ["Progetti Speciali", "Progetti Speciali"], ["Talk", "Talk"], ["Workshop", "Workshop"]], @categorySelect),
            prompt: "Tutte le categorie",
            class: "category-select",
            onclick: "$('.category-select').change(function() {
                        $('form.category-search-form').submit();
                      });",
            ) %>
        <% end %>
        <!-- Date select -->
        <%= form_tag whats_on_programma_path, method: :get, class: "month-filter-form m-bottom-30" do %>
          <% months = %w(Gennaio Febbraio Marzo Aprile Maggio Giugno Luglio Agosto Settempre Ottobre Novembre Dicembre) %>
          <% months.each_with_index do |m, i| %>
            <div class="month-checkbox-container">
              <% current = i + 1 <= Date.current.month ? "current" : "" %>
              <%= check_box_tag "i", i + 1, false, {
                class: "month-checkbox-default",
                onclick: "$('input[type=checkbox]').change(function() {
                            if($(this).prop('checked') == true) {
                              $('form.month-filter-form').submit();
                            }
                          });",
                        } %>
              <%  if @monthSelect.to_i == i + 1
                    selected = "selected"
                  else
                    selected = ""
                  end
              %>
              <span class="month-checkbox <%= current %> <%= selected %>">
                <p class="label-reveal"><%= m %></p>
                <p><%= m.chars.first %></p>
              </span>
            </div>
          <% end %>
        <% end %>
        <%= link_to whats_on_programma_path, {class: "form-reset-btn-contianer m-bottom-30"} do %>
          <p class="label-reveal"><span>Azzera</span> <span>filtri</span></p>
          <div class="form-reset-btn"></div>
        <% end %>
      </div>
      <div class="calendar-cards-container">
        <% if !@events.empty? %>
        <p class="result-message"><%= @events.all.count %> risultat<%= @events.all.count == 1 ? "o" : "i" %></p>
        <% @events.each do |event| %>
          <%= link_to event_path(event), class: "event-card-container" do %>
            <% separator = event.sotto_categoria && !event.sotto_categoria.empty? ? " / " : ""  %>
            <div class="event-card-category-label <%= event.categoria.downcase %>"><%= event.categoria.upcase %><%= separator %><%= event.sotto_categoria.upcase if event.sotto_categoria %></div>
            <div class="event-card-img-container" style="background-image: url('<%= cl_image_path event.image %>');">
            </div>
            <div class="event-card-content-container">
              <h3 class="event-card-title"><%= event.titolo.truncate(100) %></h3>
              <div class="event-card-date-container">
                <%= image_tag "calendar-icon.svg", alt: "calendar", class: "image-3"%>
                <%  inizio = event.data_inizio
                    fine = event.data_fine
                    dash = event.data_inizio != event.data_fine ? " - " : ""
                %>
                <p><%= tag.time l(inizio, format: :short), datetime: inizio %><%= dash %><%= event.data_inizio != event.data_fine ? (tag.time l(fine, format: :short), datetime: fine) : "" %></p>
              </div>
              <p class="event-card-subtitle"><%= event.sottotitolo.truncate(140) %></p>
            </div>
          <% end %>
        <% end %>
        <% else %>
          <p class="result-message">Nessun evento trovato.</p>
        <% end %>
      </div>
    </div>
    <aside class="calendar-aside-container">
      <div class="sticky">
        <h2 class="section-label-container pink">Mostre in corso</h2>
        <% if !@featured.empty? %>
          <% @featured.each do |featured| %>
            <%= link_to event_path(featured), class: "event-card-container featured-card" do %>
              <div class="event-card-category-label <%= featured.categoria.downcase %>"><%= featured.categoria.upcase %></div>
              <div class="event-card-img-container" style="background-image: url('<%= cl_image_path featured.image %>');">
              </div>
              <div class="event-card-content-container">
                <h3 class="event-card-title"><%= featured.titolo %></h3>
                <div class="event-card-date-container">
                  <%= image_tag "calendar-icon.svg", alt: "calendar", class: "image-3"%>
                  <%  inizio = featured.data_inizio
                    fine = featured.data_fine
                    dash = featured.data_inizio != featured.data_fine ? " - " : ""
                  %>
                  <p><%= tag.time l(inizio, format: :short), datetime: inizio %><%= dash %><%= featured.data_inizio != featured.data_fine ? (tag.time l(fine, format: :short), datetime: fine) : "" %></p>
                </div>
                <!-- <p class="event-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
              </div>
            <% end %>
          <% end %>
        <% else %>
        <p class="m-top-30">Non ci sono mostre in corso al momento.</p>
        <% end %>
      </div>
    </aside>
  </div>
</main>

