<% content_for :meta_title, "Circolo Del Design — #{@event.titolo}" %>
<% content_for :meta_description, @event.sottotitolo %>
<% content_for :meta_image, cl_image_path(@event.image) %>

<div data-w-id="d9606d54-5066-d045-659c-1c2fc8596509" class="event-popup-details-container">
  <div class="event-popup-content-container w-container large">
    <h1 class="event-popup-title"><%= @event.titolo %></h1>
    <div class="event-popup-right-info">
      <%  inizio = @event.data_inizio
          fine = @event.data_fine
          dash = @event.data_inizio != @event.data_fine ? " - " : ""
      %>
      <div><%= tag.time l(inizio, format: :short), datetime: inizio %><%= dash %><%= @event.data_inizio != @event.data_fine ? (tag.time l(fine, format: :short), datetime: fine) : "" %></div>
      <div class="div-block-43 popup"></div>
      <div class="event-focus-bar-price"><%= @event.prezzo %></div>
    </div>
  </div>
</div>
<header id="top" class="event-header-container">
  <div class="event-header-top-info">
    <div class="container-5 w-container large">
      <div class="event-header-info-text">
        <div class="breadcrumb-text">
          <%= link_to "Home", root_path %> / What's On / <%= link_to "Programma", whats_on_programma_path %>
        </div>
        <h1 class="event-header-title"><%= @event.titolo %></h1>
        <div class="event-header-subtitle"><%= @event.sottotitolo %></div>
        <div class="event-header-label-container">
          <div class="event-label <%= @event.categoria.split(' ').first.downcase %>"><%= @event.categoria %></div>
        </div>
      </div>
      <div class="event-header-main-img" style="background-image: url('<%= cl_image_path @event.image %>')"></div>
    </div>
    <div class="event-header-bg-img" style="background-image: url('<%= cl_image_path @event.image %>')"></div>
  </div>
  <div id="event-focus-bar" class="event-header-focus-bar">
    <div class="event-header-focus-bar-content w-container large">
      <%= image_tag "calendar-icon.svg", alt: "calendar", class: "image-3"%>
      <div class="event-focus-bar-date"><%= tag.time l(inizio, format: :medium), datetime: inizio %><%= dash %><%= @event.data_inizio != @event.data_fine ? (tag.time l(fine, format: :medium), datetime: fine) : "" %></div>
      <div class="div-block-43"></div>
      <div class="event-focus-bar-price"><%= @event.prezzo %></div>
    </div>
  </div>
</header>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="event-aside-line"></div>
      <ul class="event-aside-list w-list-unstyled">
        <li class="event-aside-list-item">
          <div class="event-aside-list-label">Data e ora</div>
          <div class="event-aside-list-text"><%= tag.time l(inizio, format: :medium), datetime: inizio %><%= dash %><%= @event.data_inizio != @event.data_fine ? (tag.time l(fine, format: :medium), datetime: fine) : "" %>
            <br>
            <% if !@event.orario.empty? %>
              <%= @event.orario %>
            <% end %>
          </div>
        </li>
        <li class="event-aside-list-item">
          <div class="event-aside-list-label">Prezzo</div>
          <div class="event-aside-list-text">
            <% if @event.prezzo.capitalize == "Gratuito per i soci" %>
            Gratuito per i soci //<br>tesseramento Circolo del Design €5
            <% else %>
              <%= @event.prezzo.capitalize %>
            <% end %>
          </div>
        </li>
        <li class="event-aside-list-item">
          <div class="event-aside-list-label">Luogo</div>
          <div class="event-aside-list-text">
            <% if @event.luogo.empty? %>
              Via San Francesco da Paola 17<br>10123 Torino TO Italia
            <% else %>
              <%= @event.luogo %>
            <% end %>
          </div>
        </li>
        <% if !@event.durata.empty? %>
        <li class="event-aside-list-item">
          <div class="event-aside-list-label">Durata</div>
          <div class="event-aside-list-text"><%= @event.durata %></div>
        </li>
        <% end %>
        <% if !@event.posti.empty? %>
        <li class="event-aside-list-item">
          <div class="event-aside-list-label">N° posti</div>
          <div class="event-aside-list-text"><%= @event.posti %></div>
        </li>
        <% end %>
        <% if !@event.link.empty? %>
        <a data-w-id="fc471873-720f-cc09-a5c1-695dae3ac255" href="<%= @event.link %>" target="_blank" class="btn-link-arrow event-aside m-top-30 w-inline-block btn-active-yellow">
          <div class="text-block-3">Registrati</div>
          <div class="arrow-right">
            <div class="arrow-point-right">
              <div class="div-block-8"></div>
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        </a>
        <% end %>
      </ul>
    </aside>
    <article class="event-article-content line">
      <div>
        <%=raw @event.descrizione %>
      </div>
    </article>
  </main>
</div>
