<% if block.link_style == "button" %>
  <a href=<%= block.link_url %> target=<%= block.link_target %> class="btn btn-link-arrow btn-active-yellow">
    <div class="text-block-3"><%= block.link_label unless block.link_label.nil? %></div>
    <div class="arrow-right">
      <div class="arrow-point-right">
        <div class="div-block-8"></div>
        <div class="div-block-3"></div>
        <div class="div-block-3 arrow-point-lower"></div>
      </div>
    </div>
  </a>
<% elsif %>
  <a href=<%= block.link_url %> target=<%= block.link_target %> class="btn">
    <div class="text-block-3"><%= block.link_label unless block.link_label.nil? %></div>
  </a>
<% end %>