<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="event-aside-line"></div>
      <%= link_to about_us_il_circolo_path, class: "btn-link-arrow event-aside w-inline-block" do %>
        <div class="text-block-3">Il Circolo</div>
        <div class="arrow-right">
          <div class="arrow-point-right">
            <div class="div-block-8"></div>
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      <% end %>
      <%= link_to about_us_team_path, class: "btn-link-arrow event-aside w-inline-block btn-active-yellow" do %>
        <div class="text-block-3">Team</div>
        <div class="arrow-right">
          <div class="div-block-8"></div>
          <div class="arrow-point-right">
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      <% end %>
      <%= link_to about_us_sostenitori_path, class: "btn-link-arrow event-aside w-inline-block" do %>
        <div class="text-block-3">Sostenitori</div>
        <div class="arrow-right">
          <div class="div-block-8"></div>
          <div class="arrow-point-right">
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      <% end %>
      <%= link_to about_us_store_path, class: "btn-link-arrow event-aside w-inline-block" do %>
        <div class="text-block-3">Store</div>
        <div class="arrow-right">
          <div class="div-block-8"></div>
          <div class="arrow-point-right">
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      <% end %>
    </aside>
    <article class="event-article-content line big-content">
      <p>
La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione, la costruzione di progetti per lo sviluppo di opportunità professionali tra aziende e designer e la collaborazione con le istituzioni per l’utilizzo dei sistemi propri del design nei processi pubblici.<br><br/>
Mostre, incontri e workshop costituiscono l’ossatura del palinsesto culturale del Circolo del Design, cui si affiancano la Biblioteca del Design, che oggi conta oltre 500 volumi, e NOS. Not (an) Ordinary Store, che propone un’accurata selezione di prodotti.
      </p>
      <div class="text-highlight">
        Al Circolo del Design le aziende incontrano i professionisti, i progettisti si confrontano e si danno appuntamento, i ricercatori e gli studenti consultano la biblioteca e trovano un luogo in cui studiare e lavorare.
      </div>
    </article>
  </main>
</div>

