<% content_for :meta_title, "Sostenitori — About — Circolo del Design" %>
<% content_for :meta_description, "La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione." %>

<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Il Circolo", path: about_us_il_circolo_path, active: ""},
          {title: "Team", path: about_us_team_path, active: ""},
          {title: "Sostenitori", path: about_us_sostenitori_path, active: "btn-active-yellow"},
          {title: "5x1000", path: about_us_5x1000_path, active: ""},
          {title: "Newsletter", path: about_us_newsletter_path, active: ""}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <h2 class="listheading"><%= Time.new.year %></h2>
      <div class="mt-50">
        <div>
          <h4>Il circolo del design è sostenuto da</h4>
          <hr>
          <div class="logo-grid-container grid-2x mb-50">
            <%= image_tag "partner/2_camera-di-commercio-torino-logo-cdd.png", alt: "Camera di Commercio Torino", class: "grid-logo" %>
          </div>
        </div>
      </div>
      <h4 class="">Principali sostenitori dei progetti</h4>
      <hr>
      <div class="logo-grid-container grid-2x">
        <%= image_tag "partner/1_Copagnia-san-paolo-logo-cdd.png", alt: "Fondazione Compagnia di San Paolo", class: "grid-logo" %>
        <%= image_tag "partner/MiC_-_Ministero_della_Cultura_nero.png", alt: "MIC, Ministero della Cultura", class: "grid-logo" %>
        <%= image_tag "partner/regione-piemonte-nero.png", alt: "Regione Piemonte", class: "grid-logo" %>
        <%= image_tag "partner/4_CRT-logo-cdd-8.png", alt: "Fondazione CRT", class: "grid-logo" %>
        <%= image_tag "partner/reale_logo_black_medium.png", alt: "Reale Foundation", class: "grid-logo" %>
        <%= image_tag "partner/intesa-sanpaolo-fondo-di-beneficienza-black.png", alt: "Fondo di Beneficenza ed opere di carattere sociale e culturale", class: "grid-logo" %>
      </div>
      <h4>Sponsor</h4>
      <hr>
      <div class="logo-grid-container grid-2x">
        <%= image_tag "partner/CNA_logo-black.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "grid-logo" %>
        <%= image_tag "partner/unione-industriali-torino-black.png", alt: "Unione Industriale Torino", class: "grid-logo" %>
      </div>
      <h4>Network</h4>
      <hr>
      <div class="logo-grid-container grid-2x">
        <%= image_tag "partner/NEB_black.png", alt: "New European Bauhaus", class: "grid-logo" %>
        <%= image_tag "partner/CEA-Logo-black.png", alt: "Culture Action Europe", class: "grid-logo" %>
        <%= image_tag "partner/encc-black.png", alt: "Encc - European Network of Cultural Centres (ENCC)", class: "grid-logo" %>
      </div>
    </article>
  </main>
</div>

