<% content_for :meta_title, "Sostenitori — About — Circolo del Design" %>
<% content_for :meta_description, "La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione." %>

<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Il Circolo", path: about_us_il_circolo_path, active: ""},
          {title: "Team", path: about_us_team_path, active: ""},
          {title: "Sostenitori", path: about_us_sostenitori_path, active: "btn-active-yellow"}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <h2 class="listheading">2020</h2>
      <div class="logo-grid-container grid-2x">
        <div>
          <h4>Main partner</h4>
          <hr>
          <div class="mt-50 mb-50">
            <%= image_tag "partner/1_Copagnia-san-paolo-logo-cdd.png", alt: "Compagnia San Paolo", class: "grid-logo" %>
          </div>
        </div>
        <div>
          <h4>Partner</h4>
          <hr>
          <div class="mt-50 mb-50">
            <%= image_tag "partner/2_camera-di-commercio-torino-logo-cdd.png", alt: "Camera di Commercio Torino", class: "grid-logo" %>
          </div>
        </div>
      </div>
      <h4>Con il contributo di</h4>
      <hr>
      <div class="logo-grid-container grid-3x">
        <%= image_tag "partner/5_CittaDiTorino-black.png", alt: "Città di Torino", class: "grid-logo" %>
        <%= image_tag "partner/CNA_logo-black.png", alt: "Confederazione Nazionale dell'Artigianato e della Piccola e Media Impresa", class: "grid-logo" %>
        <%= image_tag "partner/UnioneIndustriale-CdD-black.png", alt: "Unione Industriale Torino", class: "grid-logo" %>
      </div>
      <h4>Sponsor</h4>
      <hr>
      <div class="logo-grid-container grid-2x">
        <%= image_tag "partner/iren_nero.png", alt: "Iren", class: "grid-logo" %>
        <%= image_tag "partner/Marchio-Reale-Mutua-nero.png", alt: "Reale Mutua", class: "grid-logo" %>
      </div>
    </article>
  </main>
</div>

