<% content_for :meta_title, "Team — About — Circolo del Design" %>
<% content_for :meta_description, "La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, team, chi siamo, persone" %>

<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Il Circolo", path: about_us_il_circolo_path, active: ""},
          {title: "Team", path: about_us_team_path, active: "btn-active-yellow"},
          {title: "Sostenitori", path: about_us_sostenitori_path, active: ""}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content team">
      <div class="grid-container m-bottom-50">
        <% if @members && !@members.empty? %>
          <% @members.each do |member| %>
            <figure class="team-member-container">
              <%= cl_image_tag member.image, alt: "#{member.nome} #{member.cognome} — #{member.ruolo}", class: "team-member-img" %>
              <figcaption>
                <h3><%= member.nome %> <%= member.cognome %></h3>
                <p><%= member.ruolo %></p>
              </figcaption>
            </figure>
          <% end %>
        <% end %>
      </div>
      <hr class="m-bottom-50">
      <h2>Collaborano con noi</h2>
      <div class="grid-container">
        <%= link_to "http://fionda.eu/", target: "_blank", class: "team-member-container" do %>
          <figcaption>
            <h3>Fionda</h3>
            <p>Comunicazione</p>
          </figcaption>
        <% end %>
        <%= link_to "https://www.spin-to.it/", target: "_blank", class: "team-member-container" do %>
          <figcaption>
            <h3>Spin-To</h3>
            <p>Ufficio stampa</p>
          </figcaption>
        <% end %>
        <%= link_to "https://www.fsansalvadore.com/", target: "_blank", class: "team-member-container" do %>
          <figcaption>
            <h3>Francesco Sansalvadore</h3>
            <p>Sviluppo Web</p>
          </figcaption>
        <% end %>
      </div>
    </article>
  </main>
</div>

