<% content_for :meta_title, !@page.meta_title.empty? ? @page.meta_title : "Circolo del Design — Home Page — Torino" %>
<% content_for :meta_description, @page.meta_description unless @page.meta_description.empty? %>
<% content_for :meta_keywords,!@page.meta_keywords.empty? ? @page.meta_keywords : "Circolo Del Design, Circolo, Torino, Design, eventi, mostre, workshop, progetti, partner, programma, aziende, studenti" %>

<% if @page.splash_presence %>
  <div id="splash" class="splash-container">
    <div class="splash-content">
      <% unless @page.splash_title.empty? %>
        <h2 class="splash-title"><%= raw @page.splash_title unless @page.splash_title.empty? %></h2>
      <% end %>
      <% unless @page.splash_content_img.file.nil? %>
        <%= cl_image_tag @page.splash_content_img, alt: "Circolo del Design", class: "splash-content-img #{"desktop" unless @page.splash_content_img_mobile.file.nil?}" %>
      <% end %>
      <% unless @page.splash_content_img_mobile.file.nil? %>
        <%= cl_image_tag @page.splash_content_img_mobile, alt: "Circolo del Design", class: "splash-content-img mobile" %>
      <% end %>
    </div>
    <% unless @page.splash_bg_img.file.nil? %>
      <figure class="splash-bg-img <%= "desktop" unless @page.splash_bg_img_mobile.file.nil? %>" style="background-image: url('<%= cl_image_path @page.splash_bg_img %>');"></figure>
    <% end %>
    <% unless @page.splash_bg_img_mobile.file.nil? %>
      <figure class="splash-bg-img mobile" style="background-image: url('<%= cl_image_path @page.splash_bg_img_mobile %>');"></figure>
    <% end %>
  </div>
<% end %>
<div data-w-id="34e7298b-a2ba-bc6d-2dee-977128477157" style="opacity:1" class="loader-a-container">
  <%= image_tag "LOGO_CdD_anim_1sec.gif", alt: "Circolo Del Design loarder", class: "loader-a-gif" %>
</div>
<% _coverStyle = @page.hero_image.blank? ? "" : "background-image: linear-gradient(180deg, transparent 25%, rgba(0, 0, 0, 0)), url('#{ cl_image_path @page.hero_image }')" %>
<div id="hero" class="hero-container" style="<%= _coverStyle %>" >
  <div class="heading-container">
    <h1 class="h1-a"><%= raw @page.heading unless @page.heading.empty? %></h1>
  </div>
  <% if @page.hero_marquee_presence %>
    <div class="marquee-container">
      <marquee behavior="ALTERNATE" direction="left" >
        <% 3.times do %>
          <% @page.hero_marquee_words.split(",").each do |word| %>
            <span><%= word.strip %></span>
          <% end %>
        <% end %>
      </marquee>
    </div>
  <% end %>
</div>
  <div id="top" class="content-container">
    <div class="container-2 w-container homepage-nav">
      <div data-w-id="d8e1098b-6db6-d8a3-7748-351c9f63a7ad" class="links-container">
        <div class="links">
          <a data-w-id="6faf41c9-ac6a-c5b8-11d0-1039f3f69b2f" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/whats-on/programma/" class="btn-link-arrow m-bottom-0 w-inline-block btn-active-yellow">
            <div class="text-block-3">Programma Culturale</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          </a>
          <a data-w-id="6faf41c9-ac6a-c5b8-11d0-1039f3f69b2f" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/progetti-di-impatto" class="btn-link-arrow m-bottom-0 w-inline-block btn-active-yellow">
            <div class="text-block-3">Progetti d'Impatto</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          </a>
          <a data-w-id="ae9cec70-83ef-cef6-706b-ca4cf8552415" style="-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="/about-us/il-circolo" class="btn-link-arrow m-bottom-0 w-inline-block btn-active-yellow">
            <div class="text-block-3">Scopri il Circolo</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="socials" data-w-id="6faf41c9-ac6a-c5b8-11d0-1039f3f69b2f" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
          <%= link_to "https://www.facebook.com/circolodeldesign/", target: "_blank" do %>
            <%= image_tag "icon_facebook2.svg", alt: "Circolo del Design - Facebook" %>
          <% end %>
          <%= link_to "https://www.instagram.com/circolodeldesign/", target: "_blank" do %>
            <%= image_tag "icon_instagram.svg", alt: "Circolo del Design - Instagram" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/company/circolo-del-design/", target: "_blank" do %>
            <%= image_tag "icon_linkedin.svg", alt: "Circolo del Design - LinkedIn" %>
          <% end %>
          <%= link_to "https://www.youtube.com/channel/UCBYouoahfNG1qy-g4GIBQYg", target: "_blank" do %>
            <%= image_tag "icon_youtube.svg", alt: "Circolo del Design - Youtube" %>
          <% end %>
        </div>
      </div>

      <div data-w-id="48c62a10-3150-46a2-f225-5d1c12e379e8" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hp-grid">
        <div class="hp-cards-grid">
          <% unless @cards.empty? %>
            <% @cards.each do |card| %>
              <% 
              _color = case card.content_category 
                      when 0
                      "var(--cdd-orange)"
                      when 1
                      "var(--cdd-blue)"
                      when 2
                      "var(--cdd-green)"
                      else
                      "var(--cdd-orange)"
                    end
              _category = case card.content_category 
                      when 0
                      "Programma Culturale"
                      when 1
                      "Progetti d'Impatto"
                      when 2
                      "Servizi"
                      else
                      "Programma Culturale"
                    end
              %>
                <%= link_to card.link, class: "hp-card-container", target: card.link_target ? "_blank" : "" do %>
                  <div class="card-img" style="background-image: linear-gradient(180deg, transparent 25%, rgba(0, 0, 0, 0)), url('<%= cl_image_path card.image unless card.image.blank? %>')">
                    <div class="card-labels">
                      <div class="primary-label" style="background: <%= _color %>;"><%= _category %></div>
                      <% unless card.eventy_type_category.blank? || card.eventy_type_category === "Nessuna" %>
                        <div class="secondary-label"><%= card.eventy_type_category %></div>
                      <% end %>
                    </div>
                  </div>
                  <div class="info-box" style="background: <%= _color %>;">
                    <h3><%= card.title unless !card.title || card.title.empty? %></h3>
                    <p><%= card.subtitle unless !card.subtitle || card.subtitle.empty? %></p>
                  </div>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-a-3 round">
    <div class="container-3 w-container w-1000">
      <div id="w-node-d14ac47ef320-f805d136" data-w-id="e10972fb-b623-d4d9-87d9-d14ac47ef320" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading"><%= @page.column_1_title unless @page.column_1_title.blank? %></h2>
        <div class="link-list">
          <% unless @col_1_links.empty? %>
            <% @col_1_links.each do |link| %>
              <%= link_to link.link, { 'data-w-id' => "905914b2-15bd-dfe4-9102-c9196694257c", class: "link-list-item w-inline-block" } do %>
                <div class="text-block-4"><%= link.label unless link.label.blank? %></div>
                <div class="arrow-right">
                  <div class="arrow-point-right">
                    <div style="width:0PX" class="div-block-8"></div>
                    <div class="div-block-3"></div>
                    <div class="div-block-3 arrow-point-lower"></div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="w-node-ce1275bf203b-f805d136" data-w-id="33cbe8e8-7b19-dfec-b687-ce1275bf203b" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading"><%= @page.column_2_title unless @page.column_2_title.blank? %></h2>
        <div class="link-list">
          <% unless @col_2_links.empty? %>
            <% @col_2_links.each do |link| %>
              <%= link_to link.link, { 'data-w-id' => "905914b2-15bd-dfe4-9102-c9196694257c", class: "link-list-item w-inline-block" } do %>
                <div class="text-block-4"><%= link.label unless link.label.blank? %></div>
                <div class="arrow-right">
                  <div class="arrow-point-right">
                    <div style="width:0PX" class="div-block-8"></div>
                    <div class="div-block-3"></div>
                    <div class="div-block-3 arrow-point-lower"></div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="w-node-028f971a699b-f805d136" data-w-id="2da7f5ea-f4fc-e9eb-fc88-028f971a699b" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading"><%= @page.column_3_title unless @page.column_3_title.blank? %></h2>
        <div class="link-list">
          <% unless @col_3_links.empty? %>
            <% @col_3_links.each do |link| %>
              <%= link_to link.link, { 'data-w-id' => "905914b2-15bd-dfe4-9102-c9196694257c", class: "link-list-item w-inline-block" } do %>
                <div class="text-block-4"><%= link.label unless link.label.blank? %></div>
                <div class="arrow-right">
                  <div class="arrow-point-right">
                    <div style="width:0PX" class="div-block-8"></div>
                    <div class="div-block-3"></div>
                    <div class="div-block-3 arrow-point-lower"></div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="section-a-2">
      <div data-w-id="3cbb9d82-a808-1f90-5ac3-cc69363709a1" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text left">
        <%= raw @page.paragraph_1 unless @page.paragraph_1.empty? %>
      </div>
      <div class="down-arrows-group">
        <div data-w-id="a2223052-a4f1-3782-8e5f-e33ce7bfa81b" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
      </div>
      <div data-w-id="16774e7c-3763-9faa-476f-ff55a2d3f075" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text">
        <%= raw @page.paragraph_2 unless @page.paragraph_2.empty? %>
      </div>
  </div>
  <% if @page.info_section_presence %>
    <div class="section-a-4">
      <div data-w-id="06b735b0-7464-0951-2c74-2b5b408766d3" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-container">
        <% if @page.info_section_schedule_presence %>
          <h3 class="heading-2">Orari di apertura</h3>
          <div data-w-id="49d24f3c-3fc7-fe3e-e94c-6d04e8879a08" class="">
            <p class="centered-big-text">
              <%= @global_settings.opening_hours unless @global_settings.opening_hours.blank? %>
            </p>
          </div>
        <% end %>
        <% if @page.info_section_address_presence %>
          <div data-w-id="49d24f3c-3fc7-fe3e-e94c-6d04e8879a08" class="mb-50">
            <p class="centered-big-text">
              <%= @global_settings.address unless @global_settings.address.blank? %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @page.cta_section_presence %>
    <div class="section-a-4">
      <div data-w-id="06b735b0-7464-0951-2c74-2b5b408766d3" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-container">
        <h2 class="heading-2"><%= raw @page.cta_section_title unless @page.cta_section_title.empty? %></h2>
        <%= link_to contatti_path, { 'data-w-id' => "49d24f3c-3fc7-fe3e-e94c-6d04e8879a08", class: "link-list-item contattaci-link w-inline-block" } do %>
          <div class="text-block-4">Contattaci</div>
          <div class="arrow-right">
            <div class="arrow-point-right">
              <div style="width:0PX" class="div-block-8"></div>
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @page.newsletter_box_presence %>
    <div class="section-a-5">
      <div data-w-id="2a2317fe-8174-c278-1e7e-1e04f2cce1cb" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="container-4 w-container">
        <div class="text-block-5">
          <%= raw @page.newsletter_box_text unless @page.newsletter_box_text.empty? %>
        </div>
        <div class="form-block w-form">
          <form action="https://circolodesign.us12.list-manage.com/subscribe/post?u=921774d7b58b28e02d4b2bf62&amp;id=2cbdda2499" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
          <form id="email-form" name="email-form" data-name="Email Form" class="form">
            <input type="email" value="" name="EMAIL" class="email text-field w-input" id="mce-EMAIL" placeholder="Email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_921774d7b58b28e02d4b2bf62_392709ba11" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="submit-button w-button">
            </div>
          </form>
          <div class="w-form-done">
            <div><strong>Grazie!</strong><br>Riceverai una email di conferma a breve!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Qualcosa non ha funzionato, riprova più tardi.</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<script>
window.onload = function () {

  var mySwiper = new Swiper ('.swiper-container', {
      slidesPerView: 1,
      loop: false,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
  });

};
  </script>

