<div data-w-id="34e7298b-a2ba-bc6d-2dee-977128477157" style="opacity:1" class="loader-a-container">
  <%= image_tag "LOGO_CdD_anim_1sec.gif", alt: "Circolo Del Design loarder", class: "loader-a-gif" %>
</div>
  <div id="top" class="section-a-1">
    <div class="container-2 w-container">
      <div data-w-id="d8e1098b-6db6-d8a3-7748-351c9f63a7ad">
        <h1 data-w-id="c0cc82b3-28b6-e009-e4ea-8c05523a3355" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h1-a">A new home <br>for design culture.</h1>
        <div data-w-id="6666dabb-4ad3-644b-af0f-4068709a7f08" style="-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="text-block-2">Il Circolo del Design è uno spazio <strong>aperto</strong>, <strong>inclusivo</strong> e <strong>partecipato</strong>.</div>
        <a data-w-id="ae9cec70-83ef-cef6-706b-ca4cf8552415" style="-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="/about-us/il-circolo" class="btn-link-arrow m-bottom-0 w-inline-block btn-active-yellow">
          <div class="text-block-3">Scopri il Circolo</div>
          <div class="arrow-right">
            <div class="arrow-point-right">
              <div style="width:0PX" class="div-block-8"></div>
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        </a>
        <a data-w-id="6faf41c9-ac6a-c5b8-11d0-1039f3f69b2f" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/whats-on/programma/" class="btn-link-arrow m-bottom-0 w-inline-block btn-active-yellow">
          <div class="text-block-3">Guarda il Programma</div>
          <div class="arrow-right">
            <div class="arrow-point-right">
              <div style="width:0PX" class="div-block-8"></div>
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        </a>
        <a data-w-id="6faf41c9-ac6a-c5b8-11d0-1039f3f69b2f" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/progetti-speciali/introduzione" class="btn-link-arrow m-bottom-0 w-inline-block progetti btn-active-yellow">
          <div class="text-block-3">Progetti Speciali</div>
          <div class="arrow-right">
            <div class="arrow-point-right">
              <div style="width:0PX" class="div-block-8"></div>
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        </a>
      </div>

      <% if !@events.empty? %>
      <div data-w-id="48c62a10-3150-46a2-f225-5d1c12e379e8" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hp-carousel">
        <div class="carousel-slider-a w-clearfix swiper-container">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-wrapper">
            <% @events.each do |event| %>
              <%= link_to event_path(event), class: "carousel-a-slide w-inline-block swiper-slide" do %>
              <div class="carousel-slide-img" style="background-image: linear-gradient(180deg, transparent 25%, #000), url('<%= cl_image_path event.image %>')"></div>
              <div class="carousel-category-label <%= event.categoria.downcase %>"><%= event.categoria %></div>
              <div class="carousel-a-text-block">
                <div class="slider-date">
                  <div class="div-block-40"></div>
                  <div class="slide-a-date-text"><%= event.data_inizio.strftime('%e %B') %><%= event.data_inizio != event.data_fine ? " - " + event.data_fine.strftime('%e %B') : "" %><br></div>
                </div>
                <div class="slider-a-title"><%= event.titolo %></div>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="section-a-3">
    <div class="container-3 w-container">
      <div id="w-node-d14ac47ef320-f805d136" data-w-id="e10972fb-b623-d4d9-87d9-d14ac47ef320" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading">What’s on</h2>
        <div class="link-list">
          <%= link_to whats_on_programma_path, { 'data-w-id' => "905914b2-15bd-dfe4-9102-c9196694257c", class: "link-list-item w-inline-block" } do %>
            <div class="text-block-4">Programma</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
          <%= link_to whats_on_eventi_passati_path, { 'data-w-id' => "905914b2-15bd-dfe4-9102-c9196694257c", class: "link-list-item w-inline-block" } do %>
            <div class="text-block-4">Eventi Passati</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div id="w-node-ce1275bf203b-f805d136" data-w-id="33cbe8e8-7b19-dfec-b687-ce1275bf203b" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading">Progetti Speciali</h2>
        <div class="link-list">
          <%= link_to progetti_speciali_ask_to_design_path, {'data-w-id' => "99a5d35a-aca4-4863-6d1a-5575a67a95df", class: "link-list-item w-inline-block"} do %>
            <div class="text-block-4">Ask to Design</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
          <%= link_to progetti_speciali_video_torino_creative_city_unesco_path, {'data-w-id' => "99a5d35a-aca4-4863-6d1a-5575a67a95e7", class: "link-list-item w-inline-block"} do %>
            <div class="text-block-4">Video Torino Creative City UNESCO</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
          <%= link_to progetti_speciali_interaction_20_path, {'data-w-id' => "fe489f0e-a5f3-10c6-a49d-0324012cd73c", class: "link-list-item w-inline-block"} do %>
            <div class="text-block-4">Interaction 20</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div id="w-node-028f971a699b-f805d136" data-w-id="2da7f5ea-f4fc-e9eb-fc88-028f971a699b" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
        <h2 class="listheading">Servizi</h2>
        <div class="link-list">
          <%= link_to servizi_spazi_path, { 'data-w-id' => "99a5d35a-aca4-4863-6d1a-5575a67a95df", class: "link-list-item w-inline-block" } do %>
            <div class="text-block-4">Spazi</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
          <%= link_to servizi_biblioteca_path, { 'data-w-id' => "99a5d35a-aca4-4863-6d1a-5575a67a95e7", class: "link-list-item w-inline-block" } do %>
            <div class="text-block-4">Biblioteca</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
          <%= link_to servizi_store_path, { 'data-w-id' => "99a5d35a-aca4-4863-6d1a-5575a67a95e7", class: "link-list-item w-inline-block" } do %>
            <div class="text-block-4">Store</div>
            <div class="arrow-right">
              <div class="arrow-point-right">
                <div style="width:0PX" class="div-block-8"></div>
                <div class="div-block-3"></div>
                <div class="div-block-3 arrow-point-lower"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="section-a-2">
    <!-- <div class="event-article-container w-container large"> -->
      <div data-w-id="3cbb9d82-a808-1f90-5ac3-cc69363709a1" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text left">La mission del Circolo del Design è la <strong>diffusione della cultura del progetto</strong> e viene perseguita attraverso la produzione di attività culturali e di formazione, lo sviluppo di opportunità professionali tra aziende e designer e l’utilizzo dei sistemi propri del design nei processi pubblici.</div>
      <div class="down-arrows-group">
        <div data-w-id="a2223052-a4f1-3782-8e5f-e33ce7bfa81b" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
        <!-- <div data-w-id="a3dae3f4-f7fd-e06d-80f7-c49e57d86c01" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
        <div data-w-id="0b766d26-1ca2-2a0d-c51b-fd588a20750a" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
        <div data-w-id="6f75c14c-fb44-848b-e09b-f86956a9cd1d" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
        <div data-w-id="beeebd24-bea8-48e8-0215-ca8d5e662717" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div>
        <div data-w-id="1b325f83-a721-0db9-3648-843e7c52ad41" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
          <div class="div-block-5"></div>
          <div class="arrow-down-point-group">
            <div class="arrow-down-point"></div>
            <div class="arrow-down-point point-right"></div>
          </div>
        </div> -->
      </div>
      <!-- <br/> -->
      <div data-w-id="16774e7c-3763-9faa-476f-ff55a2d3f075" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text">Al Circolo del Design le <strong>aziende</strong> incontrano i professionisti, i <strong>designer</strong> presentano i loro progetti, i <strong>creativi</strong> si danno appuntamento, i <strong>ricercatori</strong> e gli <strong>studenti</strong> consultano la biblioteca e trovano un luogo in cui studiare e lavorare.</div>
    <!-- </div> -->
  </div>
  <div class="section-a-4">
    <div data-w-id="06b735b0-7464-0951-2c74-2b5b408766d3" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-container">
      <h1 class="heading-2">Vuoi saperne di più?</h1>
      <%= link_to contatti_path, { 'data-w-id' => "49d24f3c-3fc7-fe3e-e94c-6d04e8879a08", class: "link-list-item contattaci-link w-inline-block" } do %>
        <div class="text-block-4">Contattaci</div>
        <div class="arrow-right">
          <div class="arrow-point-right">
            <div style="width:0PX" class="div-block-8"></div>
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="section-a-5">
    <div data-w-id="2a2317fe-8174-c278-1e7e-1e04f2cce1cb" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="container-4 w-container">
      <div class="text-block-5">Rimani aggiornato con<br>la nostra <strong>Newsletter</strong>.</div>
      <div class="form-block w-form">
        <form action="https://circolodesign.us12.list-manage.com/subscribe/post?u=921774d7b58b28e02d4b2bf62&amp;id=392709ba11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
        <form id="email-form" name="email-form" data-name="Email Form" class="form">
          <input type="email" value="" name="EMAIL" class="email text-field w-input" id="mce-EMAIL" placeholder="Email" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_921774d7b58b28e02d4b2bf62_392709ba11" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="submit-button w-button">
          </div>
        </form>
        <div class="w-form-done">
          <div><strong>Grazie!</strong><br>Riceverai una email di conferma a breve!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Qualcosa non ha funzionato, riprova più tardi.</div>
        </div>
      </div>
    </div>
  </div>
<script>
window.onload = function () {

  var mySwiper = new Swiper ('.swiper-container', {
      slidesPerView: 1,
      loop: true,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
  });

};
  </script>

