<div data-w-id="34e7298b-a2ba-bc6d-2dee-977128477157" style="opacity:1" class="loader-a-container">
  <%= image_tag "LOGO_CdD_anim_1sec.gif", alt: "Circolo Del Design loarder", class: "loader-a-gif" %>
</div>
  <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-inner-page w-nav">
    <a href="index.html" data-w-id="f8f6fcc8-1ac5-1308-4e0f-52f0c4ef5dc2" style="-webkit-transform:translate3d(0, -110PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -110PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -110PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -110PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand temp-brand w-nav-brand w--current">
      <%= image_tag "LOGO_CdD.svg", alt: "Circolo del Design", witdh:"151", class:"image" %>
    </a>
  </div>
  <div id="top" class="section-a-1">
    <div class="container-2 w-container">
      <div data-w-id="d8e1098b-6db6-d8a3-7748-351c9f63a7ad">
        <h1 data-w-id="c0cc82b3-28b6-e009-e4ea-8c05523a3355" style="opacity:0;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="h1-a">A new home <br>for design culture.</h1>
        <div data-w-id="6666dabb-4ad3-644b-af0f-4068709a7f08" style="-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="text-block-2">Il Circolo del Design è uno spazio <strong>aperto</strong>, <strong>inclusivo</strong> e <strong>partecipato</strong>.</div>
      </div>

      <% if !@events.empty? %>
      <div data-w-id="48c62a10-3150-46a2-f225-5d1c12e379e8" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hp-carousel">
        <div class="carousel-slider-a w-clearfix swiper-container">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-wrapper">
            <% @events.each do |event| %>
              <%= link_to event_path(event), class: "carousel-a-slide w-inline-block swiper-slide" do %>
              <div class="carousel-slide-img" style="background-image: linear-gradient(180deg, transparent 25%, #000), url('<%= cl_image_path event.image %>')"></div>
              <div class="carousel-category-label mostre">Mostra</div>
              <div class="carousel-a-text-block">
                <div class="slider-date">
                  <div class="div-block-40"></div>
                  <div class="slide-a-date-text"><%= event.data_inizio.strftime('%e %B') %><%= event.data_inizio != event.data_fine ? " - " + event.data_fine.strftime('%e %B') : "" %><br></div>
                </div>
                <div class="slider-a-title"><%= event.titolo %></div>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="section-a-2">
    <div data-w-id="3cbb9d82-a808-1f90-5ac3-cc69363709a1" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text">La mission del Circolo del Design è la <strong>diffusione della cultura del progetto</strong> e viene perseguita attraverso la produzione di attività culturali e di formazione, lo sviluppo di opportunità professionali tra aziende e designer e l’utilizzo dei sistemi propri del design nei processi pubblici.</div>
    <div class="down-arrows-group">
      <div data-w-id="a2223052-a4f1-3782-8e5f-e33ce7bfa81b" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
      <div data-w-id="a3dae3f4-f7fd-e06d-80f7-c49e57d86c01" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
      <div data-w-id="0b766d26-1ca2-2a0d-c51b-fd588a20750a" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
      <div data-w-id="6f75c14c-fb44-848b-e09b-f86956a9cd1d" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
      <div data-w-id="beeebd24-bea8-48e8-0215-ca8d5e662717" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
      <div data-w-id="1b325f83-a721-0db9-3648-843e7c52ad41" style="opacity:0;-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-down">
        <div class="div-block-5"></div>
        <div class="arrow-down-point-group">
          <div class="arrow-down-point"></div>
          <div class="arrow-down-point point-right"></div>
        </div>
      </div>
    </div>
    <div data-w-id="16774e7c-3763-9faa-476f-ff55a2d3f075" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="centered-big-text">Al Circolo del Design le <strong>aziende</strong> incontrano i professionisti,<br>i <strong>designer</strong> presentano i loro progetti,<br>i <strong>creativi</strong> si danno appuntamento, i <strong>ricercatori</strong> e gli <strong>studenti</strong> consultano la biblioteca e trovano un luogo in cui studiare e lavorare.</div>
  </div>
<script>
window.onload = function () {

  var mySwiper = new Swiper ('.swiper-container', {
slidesPerView: 1,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
  });

};
  </script>

