<% content_for :meta_title, "Progetti Speciali — Circolo del Design" %>
<% content_for :meta_description, "Al fianco della programmazione, il Circolo del Design lavora per lo sviluppo di Progetti Speciali con l’ambizione di incidere concretamente su ambiti specifici." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, progetti speciali, istituzioni, aziende, professionisti" %>

<%= render 'shared/projects-header' %>
<main class="page-postheader">
  <div class="calendar-main-container w-container large">
    <div class="special-projects-container">
      <!-- filtri -->
      <div class="calendar-cards-container">
        <% if !@special_projects.empty? %>
        <!-- risultati -->
        <% @special_projects.each do |special_project| %>
          <%= link_to special_project_path(special_project), class: "event-card-container special-projects-card" do %>
          <% if special_project.cover && special_project.cover.present? %>
            <div class="event-card-img-container" style="background-image: url('<%= cl_image_path special_project.cover %>');"></div>
          <% else %>
            <div class="event-card-img-container"></div>
          <% end %>
            <div class="event-card-content-container">
              <h3 class="event-card-title"><%= special_project.title.truncate(100) %></h3>
              <% if special_project.year || !special_project.year.nil? %>
                <div class="">
                  <p><%= special_project.year.year() %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% else %>
          <p class="result-message">Nessun progetto trovato.</p>
        <% end %>
      </div>
    </div>
  </div>
</main>

